[2016-05-13 11:15] mnater opened #1 "class-based settings"
Different text-elements (e.g. title vs. main text) often require different settings.
So support of multiple classes with respective settings is required.

[2016-05-13 11:16] mnater opened #2 "Implement `compound`-setting from Hyphenator.js"
https://github.com/mnater/Hyphenator/commit/2ce2fa7ba0bfa7e981152969a2869277f05e8a96

[2016-05-26 20:46] mnater commented on #1
[code]

[2016-05-31 15:53] #2 closed, assigned to nobody

[2016-05-31 15:54] #1 closed, assigned to mnater

[2016-06-15 12:34] mnater opened #3 "Callback for hyphenated elements"
Implement a callback that fires when an element is hyphenated.
Could be used for nice transitions to fade-in text etc.

[2016-06-15 12:36] mnater opened #4 "Remove getScriptPath"
Let users decide where the resources (Hyphenopoly.js and patterns) are located.
(document.currentScript allocates lots of memory!)

[2016-06-23 13:28] mnater commented on #4
https://github.com/mnater/Hyphenopoly/commit/38f4e000f4b00ce01fa2e66b9be8fa696b2ece24

[2016-06-23 13:28] #4 closed, assigned to nobody

[2016-06-24 22:14] #3 closed, assigned to nobody

[2016-11-09 16:50] Imangazaliev opened #5 "Add removeHyphenationFromDocument"

[2016-11-11 13:33] mnater commented on #5
Please provide a use case.
I try to keep hyphenopoly.js as small as possible…

[2016-11-11 13:45] Imangazaliev commented on #5
I a'm using Hyphenator in my Android application (html book) when I need posibility to enable/disable hyphenation

[2016-11-13 22:32] mnater commented on #5
This is Hyphenopoly.js not Hyphenator.js
Hyphenopoly.js doesn't cover your use case – so stick with Hyphenator.js where you can use [Hyphenator.toggleHyphenation()](https://github.com/mnater/Hyphenator/blob/wiki/en_PublicAPI.md#void-hyphenatortogglehyphenation) to remove hyphenation.

[2016-11-13 22:32] #5 closed, assigned to nobody

[2017-02-03 15:44] exophunk opened #6 "Disable Fallback to Native"
Is it possible to disable the fallback to native browser hyphenation? So hyphenopoly is always used?

Apparently, the native hyphenation rules of browsers are worse. At least for safari and german, I get much better results with your library.

[2017-02-04 12:11] mnater commented on #6
Hi
If you want to force the usage of Hyphenopoly.js for a language write "FORCEHYPHENOPOLY" instead of the long word in the require block.

[2017-03-23 12:10] #6 closed, assigned to nobody

[2017-03-23 22:50] VAggrippino opened #8 "minor issue with language codes that aren't region specific"
Many general examples specify an `html` tag with a `lang` property like `<html lang="en">`, but Hyphenopoly uses region-specific pattern files like en-us and en-gb.

So, it doesn't work if I have code that looks something like this:

[code]

There are a thousand ways you could handle this, including just a note in the documentation to be aware of it. After I realized what was wrong, I just changed

[2017-03-24 15:30] #8 closed, assigned to nobody

[2017-03-24 15:30] mnater commented on #8
Thank you

[2017-05-20 21:12] mnater opened #9 "update german patterns"
https://github.com/mnater/Hyphenator/commit/683b5f8f358b4bfabac6479ba4fbfe10186ef681

[2017-06-02 20:45] mnater commented on #9
https://github.com/mnater/Hyphenopoly/commit/bee842dcf5977cf3d4046a734ad1d590c8741350

[2017-06-02 20:45] #9 closed, assigned to mnater

[2017-08-01 15:00] mbrodala opened #10 "Please add bower.json/package.json"
Please add the necessary meta files to make this installable via Bower/NPM.

[2017-08-03 20:36] mnater commented on #10
added package.json in https://github.com/mnater/Hyphenopoly/commit/bd9be262b4de7343ea0e4ce14c12fd0d7ce314b4
Hope it works.

[2017-08-03 20:36] #10 closed, assigned to nobody

[2017-08-06 22:40] mnater opened #11 "add Georgian"
https://github.com/mnater/Hyphenator/issues/277#issuecomment-320242126

[2017-08-07 08:02] mbrodala commented on #10
@mnater Thanks, can you add a `bower.json` too?

[2017-08-07 19:07] mnater commented on #10
Bower is dying:
...psst! While Bower is maintained, we recommend yarn and webpack for new front-end projects! (https://bower.io)

[2017-08-08 06:30] mbrodala commented on #10
Correct, the emphasis is on *new* though. ;-) Right now we are still using Bower and it works very well for us. We are not yet into Webpack but will keep an eye on it.

So unless you see a huge burden adding Bower support I'd really love to have it available as option. :-)

[2017-10-13 15:08] mnater opened #12 "Fix oncopy"
cf:
https://github.com/mnater/Hyphenator/commit/cf767cd5e957d782a7840847e75ce9a61d8b6fd0

[2017-10-18 22:05] mnater commented on #12
Should probably use this:
https://developer.mozilla.org/en-US/docs/Web/API/ClipboardEvent/clipboardData

[2017-10-19 09:22] #12 closed, assigned to nobody

[2017-10-24 08:26] mnater opened #13 "Implement faster pattern-loading and pattern-to-trie-conversion"
Patterns are currently downloaded and interpreted as JavaScript and later converted to a trie. The trie is based on numbers, the patterns are characters, thus a lot of char-to-number conversions happen. This takes time (~7ms for en-us).

Concept:

- define a pattern-file format. E.g.:
[code]
with extra header fields for meta information.

- load binary patterns as ArrayBuffer using XHR or File-API

[2018-02-08 13:22] Matthias-Hermsdorf opened #14 "Could you publish the Hyphenopoly on npmjs.com?"
Could you publish the Hyphenopoly on npmjs.com?
It would make it easier to keep in track of package versions. Easier then check hashes.

[2018-02-12 09:50] mnater commented on #14
I will as soon as it stabelises…

[2018-02-22 13:01] mnater commented on #13
Started: https://github.com/mnater/Hyphenopoly/tree/wasm

[2018-04-04 12:15] mnater commented on #13
merged: https://github.com/mnater/Hyphenopoly/commit/cc3c9ef89f5249df913122a079f4728c5d5af42d

[2018-04-04 12:15] #13 closed, assigned to nobody

[2018-04-24 13:25] mnater opened #15 "Catch more errors"
Currently no errors are catched nor handled.
- [x] add error handling for dangerous things (specifically: ressource loading, DOM manipulations)
- [x] see if an error event could be better than the error function in setup

[2018-04-24 13:38] mnater commented on #15
Thinking about defining a set of CustomEvents and Errors:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error
https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent
https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events

[2018-04-24 13:52] mnater opened #16 "Test and document left/rightMinPerLang"

[2018-04-25 11:02] #16 closed, assigned to mnater

[2018-04-27 12:21] jhuhta opened #17 "Trigger hyphenation after AJAX content update?"
I'm getting new content to a page with an AJAX request. The hyphenation works fine when the page is first loaded, but after ajax refresh no hyphenation is happening.

What is the recommended way to make Hyphenopoly to do it again? Not sure if this is a FAQ, but maybe have it documented as well.

[2018-04-29 20:23] mnater commented on #17
There's no way, yet. I honestly completely forgot this use case, but I think it's pretty important.

For the moment I see two ways to implement this:

1. Register [MutationObservers](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) on the elements treated by Hyphenopoly. A mutation of the element could then trigger hyphenation.
\+ no further action by the user of the script requi

[2018-05-07 12:49] mnater commented on #15
Fixed in https://github.com/mnater/Hyphenopoly/commit/20a750514a9c39c667138b15d6c9d7ee29494563

Documentation:
https://github.com/mnater/Hyphenopoly/wiki/Events

Todo:
- [x] define which errors should be handled by Hyphenopoly
- [x] catch more errors

[2018-05-08 09:30] mnater commented on #17
As of commit https://github.com/mnater/Hyphenopoly/commit/dcb490d4487dd00ec5fa8d1fcfc2a186fc6c9b3d a document can now be hyphenated by dispatching the `contentLoaded`-event: https://github.com/mnater/Hyphenopoly/wiki/Events#contentloaded-event

I'll drop the idea with MutationObservers. It would be very hard to filter all mutations (Hyphenopoly itself triggers lots of them) and not creating an inf

[2018-05-08 12:04] #17 closed, assigned to mnater

[2018-05-09 10:14] jhuhta commented on #17
Thank you! Works like a charm.

[2018-05-09 10:52] mnater opened #18 "make path and setup optional"
Most users will probably leave the following lines unchanged:
[code]
So, they can be the default and overwritable…

[2018-05-09 11:24] #18 closed, assigned to mnater

[2018-05-12 12:29] mnater commented on #11
Done in https://github.com/mnater/Hyphenopoly/commit/6724e28ae9f903cc1f765b0c3f2d27c74fa0a795 and https://github.com/mnater/Hyphenopoly/commit/4f3ea1c52e236448fd55ab1e86a6c0b98a2af247

[2018-05-12 12:29] #11 closed, assigned to nobody

[2018-05-12 19:30] mnater commented on #14
https://www.npmjs.com/package/hyphenopoly

[2018-05-12 20:07] mnater commented on #14
Had to unpublish 😖
Will republish when the 24h have passed...

[2018-05-13 20:54] mnater commented on #14
https://www.npmjs.com/package/hyphenopoly

[2018-05-13 20:56] #14 closed, assigned to mnater

[2018-05-17 23:32] FrankConijn commented on #15
Is there a way to correct hyphenation errors of certain words at system level? If so, could you include a How To?

[2018-05-17 23:57] FrankConijn opened #19 "All files in Hyphenopoly folder plus path modification"
I put the Hyphenopoly files in a separate folder with the same name and put the folder in the root.  But that produced 404 errors. Still, that is where I need them to be,  and I'd think many more people do. Could you modify the package and paths as such?  It would speed up the implementation of your system substantially.

[2018-05-17 23:59] FrankConijn opened #20 "Correction of hyphenation errors of certain words at system level?"
Is there a way to correct hyphenation errors of certain words at system level? If so, could you include a How To?

[2018-05-18 11:13] mnater commented on #19
Paths are configurable: https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-Object#paths

[2018-05-18 11:17] mnater commented on #20
https://github.com/mnater/Hyphenopoly/wiki/Setup#exceptions

[2018-05-18 12:56] FrankConijn commented on #20
That leaves the entered words unhyphenated. I would like to correct the hyphenation, not remove it.

[2018-05-18 13:08] FrankConijn commented on #19
I know they are. But if I were you, I'd focus on user-friendliness. With Chrome on Windows being the last browser to implement native CSS hyphenation (on newer Android devices it already does), that would be the only 'raison d'être' for your system, I'd think.

[2018-05-18 20:50] mnater commented on #19
Obviously I didn't understand your initial reques correctly, sorry.

You apply for a change of the default paths to represent the following structure:
[code]
Correct?
That seems logical to me, too

[2018-05-18 21:05] mnater commented on #20
Hm, I can't reproduce this.
Could you provide some more details what you've done? – Or send me a link where I can see the issue?

[2018-05-18 21:32] FrankConijn commented on #19
Yep, that's what I mean. :-)

[2018-05-18 21:44] FrankConijn commented on #20
I think I misread the wiki section. First of all, 'exceptions' gave me the impression that the words entered in that function would not be hyphenated. I now see that they are, at the hyphen points. Is it correct that the hyphens in that function stand for soft hyphenation points, &amp;shy;s in the HTML?

[2018-05-18 22:04] mnater commented on #20
'exceptions' is the word used in LaTeX for these kind of 'manually' (i.e. not by patterns) hyphenated words. So I thought this would be clear. Have you any suggestions for a better wording?

The words in the `exceptions`-list have to be divided by hyphen-minus (-). In HTML these words will be divided with soft hyphens (\&shy; by default) or whatever you set as a hyphen-character.

See http://mnate

[2018-05-19 11:25] mnater commented on #20
Added wiki-page about incorrect hyphenation: https://github.com/mnater/Hyphenopoly/wiki/Coping-with-hyphenation-errors

[2018-05-19 18:40] mnater opened #21 "provide node module"
Something like this:

[code]

[2018-05-20 18:04] FrankConijn commented on #20
I'd suggest to name that 'corrections'. People often do not read whole texts, but tend to go to the core of article or instruction directly. Further, FYI, I found that the words that your system hyphenates incorrectly are also done incorrectly by FF and Saf iOS. IE and Edge do them correctly. So, I put those words in spans and have a Javascript replace them with &amp;shy; versions, as in medewerke

[2018-05-20 18:13] FrankConijn commented on #19
I see you updated a number of files, so I assume you implemented the suggestion. Thanx. But shouldn't the README also be updated? It now still reads:
`<script src="./Hyphenopoly_Loader.js"></script>`

Assuming your example file is at the same level, in the root, shouldn't it read:
`<script src="Hyphenopoly_Loader.js"></script>`?

[2018-05-20 20:08] mnater commented on #19
No, that's correct. The Readme reflects the layout in the repository and `./Hyphenopoly_Loader.js` and `Hyphenopoly_Loader.js` points to the same file.

[2018-05-20 20:45] mnater commented on #20
I decided to stick with exceptions. Exception is more generic and it's too much work to change this.

Well, that's definitely not my fault :-) But I try to give good examples…

Mozilla and Apple uses the same patterns as I do (https://github.com/hyphenation/tex-hyphen/blob/master/hyph-utf8/tex/generic/hyph-utf8/patterns/tex/hyph-nl.tex). They haven't been updated since 1996. MS obviously has bette

[2018-05-22 17:47] FrankConijn commented on #19
Not on a(n older) local XAMPP server. I don't know about WAMPP or newer XAMPPs, but on older XAMPPs the file path `/Hyphenopoly_Loader.js` results in a 404: `Loading failed for the <script> with source “http://localhost/Hyphenopoly_Loader.js”`. No matter where the script-searching file is at. (Older?) XAMPPs have different relative-root rules. And you know what they say about the first impression.

[2018-05-22 17:57] FrankConijn commented on #20
1996? No wonder!

FYI:
1. I filed bug reports at the FF en Saf bug report sites. I'll let you know when they update their patterns, if they do.
2. You might want to know, if you don't already, that IE did not ship with all available hyphenation dictionaries. Only with the English and system-language/s dictionary/ies, if available. I don't know about Edge, but the IE policy would be an argument to

[2018-05-23 00:49] FrankConijn opened #22 "Suggestion: use cookie or localStorage for further pages on the same domain."
By doing that, it is avoided that the Does-this-browser-support-the-needed-CSS-hyphenation? test script runs on every page of that particular website. Which, if I'm not mistaking, takes considerably more time than a cookie retrieval script.

[2018-05-23 08:11] mnater commented on #22
Good point

[2018-05-23 20:07] mnater commented on #21
started with commit 92f34455c058fed37d413e9d144c72efe58a9001

needs testing, feedback and documentation…

[2018-05-24 06:19] mnater commented on #22
Added with commit b101ac07827e65809ecb8365ae3ae20846b40d9b

Todo:
* [ ] add documentation

[2018-05-27 11:02] mnater commented on #20
Since FF and Apple rely on TeX patterns it would be better to file bugs to http://www.hyphenation.org/tex#introduction or even become the maintainer of the nl-patterns…

I think FF is the only browser that supports almost all languages available for TeX. The other browsers only support a subset (sometimes depending on the installed directories, as you noted). This is mostly due to licencing concer

[2018-05-27 12:17] mnater commented on #21
Documentation: https://github.com/mnater/Hyphenopoly/wiki/Node-Module

[2018-05-27 12:17] #21 closed, assigned to mnater

[2018-05-27 12:18] mnater commented on #22
Documentation: https://github.com/mnater/Hyphenopoly/wiki/cacheFeatureTests

[2018-05-27 22:23] #15 closed, assigned to mnater

[2018-05-28 18:26] FrankConijn commented on #20
I might just as well become the maintainer of the NL pattern. I sent an email to the listed maintainer some 10 days ago, but still no response. And if 1996 is the year of the last update, the man might not be able anymore.

[2018-05-28 18:41] FrankConijn commented on #22
Cool, but for the sake of user-friendliness — beginner web designers will want to use your system, too — I would activate the `cacheFeatureTests` default. The cookie regulations do not concern cookies that only serve the user experience. And people really don't have any objections against those cookies.  At least you should make clear where that Javascript line is to be found & altered, or pasted.

[2018-06-01 15:51] yspreen opened #24 "Uncaught TypeError: Cannot read property 'maindir' of undefined"
Please update the example in the readme with the example from example1.html.

The current example throws:
`Uncaught TypeError: Cannot read property 'maindir' of undefined` In `Hyphenopoly_Loader.js:359`

Because `paths` is undefined in that example.

---

For everyone with the same issue, use this:

[code]

[2018-06-01 16:07] yspreen opened #25 "Example Broken"
The example does not break on latest Chrome.

![image](https://user-images.githubusercontent.com/12631527/40851136-aff8f226-65c6-11e8-8815-3c75d7c78786.png)

[2018-06-01 21:38] #24 closed, assigned to nobody

[2018-06-01 21:41] mnater commented on #24
Thanks!

The example is correct: the paths should resolve to "./" and "./patterns" by default.
Fixed the code, left README as it is.

[2018-06-01 21:52] mnater commented on #25
I can not reproduce the issue here.
May this be caused by issue #24?

If not:
What exact version of Chrome did you use (I tested with stable:67.0.3396.62 and  canary:69.0.3447.2)?
Which OS? (I tested on OS X and Windows 10)

Please reopen the issue if this has not been fixed with the fix for #24.

Thanks,
Mathias

[2018-06-01 21:52] #25 closed, assigned to nobody

[2018-06-02 15:41] FrankConijn commented on #22
Maybe you missed the last sentence of my last post, but I don't know where to change or paste this:

const Hyphenopoly = {
    require: {...},
    cacheFeatureTests: true
}

I cannot find it in either Hyphenopoly.js or Hyphenolpoly_Loader.js.

[2018-06-02 21:47] mnater commented on #22
No, I didn't miss it. I just hadn't time to reply.

About activating the storage by default:
I'm not a lawyer and it's not only about the regulations in the EU. It's just safer if it's not activated.

Where to activate:
You don't need to change a line of code in Hyphenopoly.js nor Hyphenolpoly_Loader.js.
`Hyphenopoly` is the global object where you config how the scripts behave. See: https://githu

[2018-06-06 04:29] lukehsiao commented on #24
The readme should be fixed to prevent people from running into this error.

Right now the user must also define the paths and setup.

To match the behavior described in the README:

[code]

By default the current run() is not called:
https://github.com/mnater/Hyphenopoly/blob/aeefe6e3a59e8356abc99ca490acabf6c3374d7b/Hyphenopoly_Loader.js#L502-L523

That said, it appears to work well!

[2018-06-06 11:52] yspreen commented on #25
Appears to be fine now

[2018-06-06 16:07] mnater commented on #25
Thank you

[2018-06-08 16:22] mnater commented on #24
`run()` is a [IIFE](https://developer.mozilla.org/en-US/docs/Glossary/IIFE)

I didn‘t understand what should be changed in the readme…

[2018-06-08 19:12] jdichev opened #26 "JS Interface Documentation"
Hello,

I would like to use Hyphenopoly in a single-page application via a JS interface. I would image that should look something like the Node.js usage example but cannot find any docs on the topic.

Could you please help - where should I look?

Thanks and best regards,
Jordan

[2018-06-08 19:20] lukehsiao commented on #24
run() is not called automatically for me in Chrome 67.0.3396.62, which meant that I needed to specify both the paths and the setup. If run is called automatically, then the README is probably accurate, but because it wasn't then there was a mismatch.

[2018-06-08 20:18] mnater commented on #26
Hi

There are no docs for this use case. I've never thought of it.
Could you please elaborate what you're planning to do and what you've tried so far?

Best regards,
Mathias

[2018-06-11 10:02] jdichev commented on #26
Hi,

My use case is basically programmatic API for the browser. I give string input to Hyphenopoly and get hyphenated string as output.

Also adding a few details:

* Hyphenopoly dependency can be loaded and active at run time
* The dependency provides an async API similar to the Node.js example in the main docs
* If possible, a synchronous API alternative would be really useful

What I tried so f

[2018-06-12 07:50] mnater commented on #26
Hi

Thanks for clarification.

The node-module requires "fs" and "util". These would probably need to be replaced by a browserified package.

Currrently you can access the `hyphenateFunction` when the engine is ready:
[code]
The hyphenateFunction is language specific and takes 4 arguments:

1.  \<string> The word to hyphenate
2. \<string> The hyphen character
3. [\<number>] The optional leftmin va

[2018-06-12 10:52] jdichev commented on #26
Hi Mathias,

Thank you for the help. That was exactly what I was looking for. Tried it and it worked nicely.

Indeed your example above is also is the combination of async and sync APIs I hoped for and it should cover the sync case I mentioned.

My main need is that the ```hyphenateFunction``` has at least a sync version. It is perfectly OK to wait until all prerequisites are loaded.

Best regards

[2018-06-22 16:03] torfsen commented on #24
@lukehsiao looks like this was fixed in aeefe6e3a59e8356abc99ca490acabf6c3374d7b.

[2018-06-28 15:03] etenzy opened #27 "Make FOUHC prevention optional"
Sometimes it's annoying when the text "flashes".

An option like "hideOnHyphenate" (even if defaults to true) would be a nice thing in my opinion.

[2018-06-28 15:37] mnater commented on #27
Hi

Hyphenopoly_Loader.js should hide the content of the whole document before it is rendered, thus, actually, there should be no "flashing" at all.

Could you please elaborate where the flashing occurs? (site, browser versions etc.)

But I agree that the hiding is somewhat dangerous and should be optional, though.

Thanks, Mathias

PS: Wir können von mir aus auch auf Deutsch diskutieren.

[2018-06-28 15:46] #26 closed, assigned to mnater

[2018-06-28 20:58] mnater commented on #27
For the record:
Disabling the hiding could have some perf impact specially on paint intensive pages:
![donthide](https://user-images.githubusercontent.com/280635/42060094-faf70e56-7b25-11e8-9f41-a6455650bec3.png)

Whereas with hiding enabled we get better page performance:
![hide](https://user-images.githubusercontent.com/280635/42060207-5dc72b7e-7b26-11e8-86ee-155795bc232b.png)

(measured on chro

[2018-06-29 08:26] etenzy commented on #27
my bad...
i've put the loader into the footer, to the rest of my js.
putting the loader in the header fixed it.

[2018-06-29 09:57] mnater commented on #27
😇
Since the perf is really bad and text that suddenly hyphenates looks ugly I decided to not make any changes.

[2018-06-29 09:57] #27 closed, assigned to mnater

[2018-07-13 11:03] webber-ch opened #28 "Template strings not supported by IE/Safari"
The back ticks (`) or template strings in Hyphenopoly_Loader.js on line 193 and line 398 are not working in Internet Explorer and Safari. Please use instead of template strings the concatenating of strings and variables. More information about template strings and support here: https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/template_strings

[2018-07-15 20:09] mnater commented on #28
The german mdn-page is outdated:
Safari supports template strings since version 9.1

But IE11 is still an argument…

[2018-07-17 20:05] mnater commented on #28
Fixed in
https://github.com/mnater/Hyphenopoly/commit/740e2a293c7a27a770fb1a276282ce38bb87b1d9
and
https://github.com/mnater/Hyphenopoly/commit/a894010a8926f6700571ad939e0bfc7caaa55a6d

[2018-07-17 20:05] #28 closed, assigned to mnater

[2018-07-27 09:02] webber-ch commented on #28
Thanks a lot!

[2018-07-28 00:49] ReLater opened #29 "Question concerning lang attribute"
Just a question if you have the time to answer.
Example: If a page starts with
[code]
(no other lang attributes) does Hyphenopoly understand that the pattern `de.hpb` is relevant for the whole page. Or do I have to add a `lang="de"` explicitely (to BODY tag or so)? Or duplicate the pattern file to `de-de.hpb` ?

The same with example `en-au` or similiar. Is there an automatic fallback to `en-gb` o

[2018-07-28 21:40] mnater commented on #29
Hi

As of the actual version 2.3.0 Hyphenopoly needs an exact match of the lang attribute with the pattern file name. So the answer is no.

Both approaches should work (eihter adding an other `lang="de"` or duplicating and renaming the pattern file) although I'd recommand the latter to keep the html clean.

Best regards,
Mathias

[2018-07-28 21:41] mnater commented on #29
I'm leaving this open, because after all this is a bug.

To do:
- [x] investigate how current UA's cope with extended lang tags;
- [x] cope with `lang` attributes that don't exactly match the existing pattern names;
- [x] elaborate a mapping mechanism between the two;
- [x] document the behaviour.

[2018-08-02 01:33] ReLater commented on #29
Thanks a lot for your efforts and explanation! A configurable mapping would be great.

I'm testing with my custom Joomla plugin (based upon Hyphenator) where users can select several languages from a list box based upon the files in `/patterns/` and can add the "long words". Would be nice to give them the opportunity to define fallbacks. Something like
`en-au` => `en-gb`

If Hyphenopoly would unde

[2018-08-03 15:10] mnater commented on #29
Hyphenator makes a xmlHttpRequest (HEAD) to check if the pattern is available and then falls back to a more general pattern, if the check fails.

I investigated a little how UA's cope with extended lang tags:

__tldr: it's a bag of hurt!__

FF for example uses `en-us` for all sorts of english (Mac and Win).
Safari and Chrome (Mac) use the patterns provided by OS X, where patterns for `en-us` and `

[2018-08-30 08:24] mnater commented on #29
Implemented `fallbacks` (961c15bbef3a634964e2adc222093b69bf6ea53d)
Still needs documentation!

[2018-09-01 11:23] mnater commented on #29
Doc: https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-Object#fallbacks

[2018-09-01 11:23] #29 closed, assigned to mnater

[2018-09-04 22:14] andremacola opened #30 "contentEditable is possible?"
Is it possible tu use this polyfill with contentEditable elements? I would like to edit and visualize in real time.

[2018-09-05 20:46] mnater commented on #30
Possible – yes. Try this for a start:

[code]

At least Hyphenopoly is fast enough to instantaneously display hyphenated text :-)

But there are some issues:

1. It won't work properly with events that fire after each edit (`keypress`, `input`). Hyphenopoly replaces the elements text with hyphenated text and that makes the cursor jump to the beginning.
Whereas with CSS-hyphenation words get hyphen

[2018-09-07 04:27] andremacola commented on #30
Thanks. I think I can make it work.

[2018-09-07 04:46] andremacola commented on #30
Thks. I think I can make it work.

[2018-09-07 05:21] #30 closed, assigned to mnater

[2018-09-07 06:25] andremacola opened #31 "[Request] Pattern update for PTBR"
Hi,

What version of PT pattern do you use in this repo? I did some testing and the PT pattern do not work properly with ptbr, I just founded an updated version [here](http://linorg.usp.br/CTAN/language/hyph-utf8/tex/generic/hyph-utf8/patterns/tex/hyph-pt.tex) or in the babelpdf package for tex.

I'm a very new with TEX, so how do you compile the .tex file to hpb?

[2018-09-07 06:57] andremacola commented on #31
I created a pt-br pattern that works awesome based on the previous link. Can I create a pull request?

[2018-09-07 09:27] mnater commented on #31
Hi

Thank you for your contribution.
I used the patterns from https://github.com/hyphenation/tex-hyphen/blob/master/hyph-utf8/tex/generic/hyph-utf8/patterns/tex/hyph-pt.tex which seem to be the same as the patterns you linked.

So I wonder what didn't work exactly?

Is it just the name `pt.hpb` vs. `pt-br.hpb`?

In this case please see https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-

[2018-09-07 09:30] mnater commented on #31
Oh! I was interrupted while answering and didn't see your second post.

Sure! Pull requests are always welcome ;-) Look's like you managed to convert from .tex to .hpb

[2018-09-07 21:38] mnater commented on #31
Currently looks like a duplicate of https://github.com/mnater/Hyphenopoly/issues/29

[2018-09-07 21:38] #31 closed, assigned to mnater

[2018-09-13 15:00] limpbizkit107 opened #33 "Maximum word length problem"
Hi,
 I have face a problem with the maximum length of the words that can be hyphenated.

 **For example** I have initialize German language and trying to hyphenate word : **"Kindercarnavalsoptochtvoorbereidingswerkzaamhedenplan"** ->**"Kin-der-car-na-vals-op-tocht-vo-or-berei-dings-werk-zaam-he-den"**

 **Problem**:  The last 4 symbols are missing which happen on other languages too.

 Is there an

[2018-09-13 19:57] mnater commented on #33
Yes, there is a maximum length of 61 characters.
Your example has a length of 53 characters, so this is a bug.

Thanks for reporting.

[2018-09-13 20:15] #33 closed, assigned to mnater

[2018-09-13 20:18] mnater opened #34 "overflow"
If a word is longer than 61 characters it overflows.

There are 128 bytes allocated for words encoded in UTF16, i.e. 64 characters.
Two fields (2 * 16bytes) are reserved for marking the beginning and end with "_" and one field for the length of the word. 64 - 2 - 1 = 61 characters.

Find perfomant solution to check for word lengths that are too long (e.g. in word-finding regex or throw an error, w

[2018-09-13 21:24] #34 closed, assigned to mnater

[2018-09-17 12:35] denbezrukov opened #35 "Use node version with browser."
Hi, thank you for tool!!
How can I use a node version with a browser?
Instead of trigger the 'contentLoaded', I want to call the library like node on client side.
Is it possible?

[2018-09-17 15:58] mnater commented on #35
Hi

Honestly, I haven't thought of that. I don't know if this is currently possible…
I'll need some more information:

1. What have you tried so far? Have you tried something like [browserify](http://browserify.org)?
2. What's your use case?

[2018-09-17 18:22] denbezrukov commented on #35
Thx for answer!
I’m using react+redux with bundle module by the webpack. I want after fetch some data from a server make some field hyphenated and save it in a store. If I trigger ‘contentLoaded’ after a mutation (insert or change text in subtree) main node, screen makes “flash” every time.
And I can’t do it in server side :(
Sorry for my english (:

UPD: May be make a static method of Hyphenopoly

[2018-09-18 07:17] mnater commented on #35
Yep
Now, I perfectly understood what you need.

Implementing will take some time, please be patient.
I'll document the progress here.

[2018-09-18 07:53] denbezrukov commented on #35
Cool!
I suppose that someone will use it in a universal app. What do you think about it?

[2018-09-22 16:25] mnater commented on #35
~~Work is ongoing in separate branch: https://github.com/mnater/Hyphenopoly/tree/expose~~

merged: https://github.com/mnater/Hyphenopoly/commit/f30df8fea05af4c452b4faecd828db7d676025e1

documentation: https://github.com/mnater/Hyphenopoly/wiki/Hyphenators

[2018-09-23 12:12] mnater opened #36 "make hyphenopoly.module browserify-able"
hyphen-poly.module requires `fs` which is not supported by browserify.js

Use something like this: https://stackoverflow.com/questions/17541845/reading-a-binary-file-in-javascript-using-browserify
to switch between `fs` and `http`

Also: test and document browserifying hyphenopoly.module

[2018-09-24 18:08] mnater commented on #36
landed in https://github.com/mnater/Hyphenopoly/commit/349fd6109403af8986b7ea78b7ce8e23d785ecfa

Still needs documentation

[2018-09-24 18:34] mnater commented on #36
https://github.com/mnater/Hyphenopoly/wiki/browserify

[2018-09-24 18:34] #36 closed, assigned to mnater

[2018-09-24 18:38] mnater commented on #35
Does this work for your use case?

PS:
With some small changes (explained here: https://github.com/mnater/Hyphenopoly/wiki/browserify) `hyphenopoly.module.js` is now (https://github.com/mnater/Hyphenopoly/commit/349fd6109403af8986b7ea78b7ce8e23d785ecfa) compatible to browserify.

This may be another approach.

[2018-09-25 07:45] denbezrukov commented on #35
Yep, you save my day!

What do you think about a "universal" version?
I mean about the same interface of using API.
For example:
I require and setup Hyphenopoly as a global instance on a node side.
On a client side, if need polyfil, dynamically load by Webpack and setup as a window instance.

I will try to make a universal react component which will polyfill hyphens auto css property.

[2018-09-27 10:01] mnater commented on #35
😄

Both sides of "universal" are already available: use `Hyphenopoly_Loader.js` and `Hyphenopoly.js` on client side and use `hyphenopoly.module.js` on server side.

Having an "universal" version (in my understanding a common codebase, that "compiles" to a browser version or to a node version) would indeed save some dublicate code. I've tried but wasn't happy with the results (code size and perform

[2018-10-11 09:36] vin-ni opened #37 "Hyphenate one word"
Ist there a way to call Hyphenopoly with one word to get returned an array with all possible linebreaks?

I need to just know where a word could break.

Thanks!

[2018-10-11 18:51] mnater commented on #37
Hi

Not directly. But you can just hyphenate one word (see [hyphenators](https://github.com/mnater/Hyphenopoly/wiki/Hyphenators#use-hyphenopolyhyphenators-for-strings)) and than use [`Sting.prototype.split`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split) to get the array.

[2018-10-11 18:51] #37 closed, assigned to mnater

[2018-10-17 07:34] lehni opened #38 "WebAssembly.Memory() error when requiring many languages in Node"
I've added 29 languages to the `require` statement, and now I'm getting the error below when running the program:

[code]

[code]

[2018-10-17 07:41] lehni commented on #38
This is the `hyphenationLanguages` list currently:

[code]

[2018-10-17 11:11] mnater commented on #38
Hi

Thanks for the report.
 If I delete the line for 'Church Slavonic' it works well here. Looks like this is rather a problem with the `cu` patterns than with the number of languages...

[2018-10-17 12:39] lehni commented on #38
oh interesting! I was just starting to compile a file that maps the available languages to their actual names. Should this be maybe added to the library, it could be of use? I don't actually need `cu` : )

[2018-10-17 22:49] mnater commented on #38
Some notes about the bug:

Church Slavonic patterns have a large set of characters (120 pairs of lower-/uppercase chars and some diacritics). The size of the pattern trie thus gets very big (over 20MB!). That exceeds the current upper limit I set for wasm-memory (16MB).
The RangeError disappears if we raise the limit and recompile the wasm-module.
Nevertheless hyphenation doesn't seem to work for

[2018-10-18 08:47] lehni commented on #38
Yes that sounds reasonable!

Regarding the language mapping: I thought it could be useful to have some kind of mapping from the language code to something a bit more readable, just for human readability. Instead of mapping them to english terms, it may be more useful if it was mapped to some common language / region standard, which then could be further mapped to any translation through some other

[2018-10-18 08:47] lehni commented on #38
PS: Grüezi zrugg! Bin au in Züri!

[2018-10-18 14:49] mnater commented on #38
Language tags are defined in different ISO standards. See https://tools.ietf.org/html/bcp47 for an overview.
I try to follow these rules.

[2018-10-18 15:10] lehni commented on #38
ok great! I'll take a look, thank you

[2018-10-18 15:11] lehni commented on #38
Shall we close this since you already addressed the issue in 39a32389f5414abfa88feab22583462628e6141c?

[2018-10-18 18:19] mnater commented on #38
Yep

[2018-10-19 22:08] lehni commented on #38
I still have a question regarding the language standard... wouldn't it make sense to just use one standard that matches all languages, or al least support multiple standards fully and convert between them internally? It seems like `ISO 639-3` with its three letter code would match languages more precisely? See https://iso639-3.sil.org/about/types, https://iso639-3.sil.org/about/relationships

[2018-10-21 21:07] mnater commented on #38
Allthough there are different `ISO 639-x` standard files they together form one `ISO 639` standard (consisting of different parts 1-5).
The language defined in `ISO 639-1` (the two-letter language codes) are a subset of `ISO 639-2` (three-letter codes) are a subset of `ISO 639-3`, but not vice versa and the whole standards are not subset of each others. So we can't necessarily convert between them

[2018-10-22 08:06] lehni commented on #38
Sounds right! You can probably tell, I'm new to all these standards :)

[2018-11-02 16:19] croban opened #39 "How to hide Error Msg?"
how can I hide errors?
`handleEvent: { error: function (e) { e.preventDefault(); return; /*don't show error messages in console*/ } }`
seams not to work.
I am getting all the time error:
`engine for language 'de' loaded, but no elements found.`

[2018-11-02 20:43] #39 closed, assigned to nobody

[2018-11-02 20:44] mnater commented on #39
Thank you

[2018-11-04 16:16] croban opened #40 "On Load site is blinking"
I don't know why but the whole site is hidden on Load and after is shown. This lead to site blinking while navigating through the site

[2018-11-04 22:32] mnater commented on #40
Possibly a duplicate of https://github.com/mnater/Hyphenopoly/issues/27

Please provide some more information: e.g. a link where I can see and reproduce the issue.

[2018-11-04 22:39] croban commented on #40
Can you give me your email. I would not like to put here the link of the site

[2018-11-04 22:45] mnater commented on #40
mathiasnater at gmail dot com

Deutsch passt auch ;-)

[2018-11-05 12:30] OktarinTentakel opened #41 "Fallback-Definition for lang-Attrs"
Hi there,

this is a great package, thank you for all the work you put in, this is a very mature and flexible solution for a complicated problem and everything so far works fine.

Except this one thing of course :D

https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-Object#fallbacks

If I'm trying to define fallbacks to map lang-Attr values to specific dictionaries I seem to be out of l

[2018-11-05 22:03] mnater commented on #41
Hi

Thanks for this kind words and the detailed issue report.

Things around fallsbacks seem to be a bit crooked…
I think your guess is right and there are other problems, too (e.g. case sensitiveness, where it shouldn't).

I'll look into it these days.

[2018-11-05 23:08] mnater commented on #40
Hi

Jetzt konnte ich das Problem nachvollziehen.
Interessanterweise ist es in Chrome und Safari weniger augenscheinlich als in Firefox (alles auf macOS, IE habe ich jetzt noch nicht getestet).

Hintergrund:
Falls Silbentrennung auch Hyphenopoly gemacht werden soll, setzt Hyphenopoly_Loader.js die visibility des body-Elements vorübergehend auf 'hidden‘. Das hat zwei Gründe:
1. So wird verhindert, d

[2018-11-06 08:14] dirkhe commented on #40
Ich habe das dasselbe Problem, lade den loader aber async per JS nach. Vorher würde es bei mir aber auch keinen Sinn machen, weil die css-klasse auch nachträglich an die Elemente geschrieben werden (dynamischer content)
Vlt. macht es Sinn, im Loader anzufragen, ob das document schon geladen ist oder dass man in der config angeben kann, dass es nachträglich geladen wurde.
Das Setzten der Visibility

[2018-11-06 09:21] mnater commented on #40
Hi Dirk

Der Loader braucht noch kein document.body und er braucht dementsprechend auch noch keine css-klassen. Der Loader macht Feature-Tests: Wird CSS hyphens unterstützt? Für die in require angegebenen Sprachen? Wird Webassembly unterstützt?) und startet dann je nach Ergebnis das Nachladen der anderen Ressourcen. Für die Tests erstellt der Loader einen fake-body und löscht diesen dann wieder.
D

[2018-11-06 10:48] mnater opened #42 "Use Selectors instead of classnames"
Currently Hyphenopoly uses single classnames to select elements to be hyphenated.
[L300:](https://github.com/mnater/Hyphenopoly/blob/master/Hyphenopoly.js#L300)
[code]
Using fully featured CSS-Selectors would give more flexibility.

[2018-11-06 11:02] dirkhe commented on #40
Hi Matthias,

Danke für dein Feedback.
Das Problem ist ja, da er beim Initialisieren (run) des loaders den body auf hidden setzt und zwar nach dem Testen(featureTestCSSHyphenation). Das Trennen macht er dann in der Tat nach dem der content geladen ist, aber dann setzt er ja erst den body wieder auf visible.
Vlt. macht es ja Sinn, das "hidden setzten" an das "elementsReady" event zu hängen und zwar

[2018-11-08 22:53] mnater commented on #40
Notes:

__Current behaviour:__
Hyphenopoly_Loader sets `visibility` of `documentElement` to `hidden`.
Hyphenopoly sets `visibility` of `documentElement` to `visible`.
__Pros:__
+ single paint
+ Simplicity

__Cons:__
- whole page flickers when navigating

__Recommended for:__
- single page sites
- pages with no static layout elements
----
__Option2 (no hiding):__
__Pros:__
+ No flickering of elemen

[2018-11-09 10:35] OktarinTentakel commented on #41
Since we started working around this problem with server-side mapping and lang-overrides on the html element and such (what a headache):

Any news on this? :D

[2018-11-15 10:35] BeckyDTP opened #43 "Double hyphen in Firefox"
Windows 10 Pro x64 Polish
Firefox 63.0.1 x64 Polish
Hyphenopoly (newest)

In Firefox Hyphenopoly adds hyphen in words _x-abcdefg_… (for example: **e-commerce**, **e-bookami**, **n-kreślny**, **A-klasowy**, **L-karnityna**, **T-Mobile**, **u-kształtny**, **X-Factor**)

![doublehyphenfirefox](https://user-images.githubusercontent.com/22416021/48545642-aee1c380-e8c6-11e8-8e4a-18c4a0d61b2f.png)

These

[2018-11-15 11:44] mnater commented on #43
Hi

Please post the source of your changed example1.html file.

[2018-11-15 11:56] BeckyDTP commented on #43
Changed (added _e-commerce_ word to English text to highlight the problem).
[example-issue.html.zip](https://github.com/mnater/Hyphenopoly/files/2585163/example-issue.html.zip)

[2018-11-15 14:29] mnater commented on #43
Thanks

I was able to reproduce the issue (only in Firefox, but on Mac, too).

In this case Hyphenopoly does nothing, because FF does support native hyphenation for `pl` and `en`. It's a bug in Firefox. We should file it on https://bugzilla.mozilla.org

I don't know a workaround except enforcing the usage of Hyphenopoly (see https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-Object#requ

[2018-11-15 15:00] mnater commented on #43
Other idea for a workaround—although not very practical:

Use a non-breaking hyphen `&#8209;` instead of a hyphen:
`e&#8209;commerce`
This inhibits the linebreak.

And if you insert a zero width space (`&#8203;`) after the non-breaking hyphen it may break without an additional hyphen.

[2018-11-15 15:13] BeckyDTP commented on #43
Thank you. As a temporary solution should be useful.

Unfortunately, I suspect my English is not good enough to explain the problem to Firefox developers.

[2018-11-16 01:23] mnater commented on #43
https://bugzilla.mozilla.org/show_bug.cgi?id=1507661

[2018-11-16 01:23] #43 closed, assigned to nobody

[2018-11-16 13:13] MichaelEnkirch opened #44 "Wordpress de-DE"
Hi,
inside a Wordpress Theme im using this <?php language_attributes(); ?> to get the language. For german i get "de-DE".

So if i add
"de-DE": "Silbentrennungsalgorithmus" as required, the pattern file "de-DE.hpb" is 404.

Now i copy the pattern file de.hpb and rename it to "de-DE.hpb"

But nothing happens. No Error Message in the console.

Is there anyway i can fix this, without geting rid of th

[2018-11-16 17:28] mnater commented on #44
Hi

Thanks for the report. That‘s an issue with case sensitiveness. (Also see #41)
I hope to be able to work on this the next days.

[2018-11-16 22:43] #40 closed, assigned to mnater

[2018-11-23 13:58] OktarinTentakel commented on #42
+1

[2018-11-23 14:09] #41 closed, assigned to mnater

[2018-11-23 14:09] #44 closed, assigned to mnater

[2018-11-23 15:53] enky00 commented on #44
Mhh still not working for me with with lng="de-DE" in the html tag.

Getting in Chrome
Element with 'de-de' found, but 'de-de.hpb' not loaded. Check language tags!

Still have to rewrite it to lng="de".

Not the best solution, because other plugins could liste too exactly "lng='de-DE'".

And if use the new loader.js, my wordpress page (localhost, sry no link), stays empty. i tried to figure out wh

[2018-11-23 15:55] enky00 commented on #44
Mhh still not working for me with with lng="de-DE" in the html tag.

Getting in Chrome
Element with 'de-de' found, but 'de-de.hpb' not loaded. Check language tags!

Still have to rewrite it to lng="de".

Not the best solution, because other plugins could liste too exactly "lng='de-DE'".

And if use the new loader.js, my wordpress page (localhost, sry no link), stays empty. i tried to figure out wh

[2018-11-23 16:48] mnater commented on #44
Hmm. Works here.

Could you please post the code of your page so I can track down the issue or send it by e-mail (mathiasnater@gmail.com)

[2018-11-27 09:28] enky00 commented on #44
[code]

This is the way i include it. the code is in the functions.php of my theme. There isnt much more there.

[2018-11-28 09:20] mnater commented on #44
You must define a fallback:

[code]

[See (updated) description](https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-Object#require)

[2018-11-28 14:44] mnater commented on #42
Implemented in https://github.com/mnater/Hyphenopoly/commit/9582d0f4e2874da96d654d984310f1879b69ab67

Needs documentation.

[2018-11-28 20:29] mnater commented on #42
Doc:
https://github.com/mnater/Hyphenopoly/wiki/Home/643db45bef7339e3fe55d21921aba93a855bba07

[2018-11-28 20:29] #42 closed, assigned to mnater

[2018-11-29 22:33] #35 closed, assigned to mnater

[2018-11-30 11:59] tbsmark86 opened #45 "Possible bug in algorithm"
I've stumbled over some strange/incorrect hyphens in some words.

To validate i tryed http://pyphen.org/ and compared on a large list of words. With a ton of differences. In this list I've found one wrong word (didn't look any further):
"zweihenklig" should be "zwei-henk-lig" but is "zwei-hen-klig"

It seems there are multiple pattern lists for german available therefore I've created a custom de.h

[2018-11-30 21:52] mnater commented on #45
Hi

There are many different pattern lists for German, indeed. This is mostly due to a very active community for building german patterns (http://projekte.dante.de/Trennmuster) updating the patterns every once a while.

I rebuild the patterns based on the most recent wordlist from the Trennmuster-group and updated the de.hpb. Now "zweihenklig" and "zytosol" are hyphenated correctly.

Pattern files

[2018-12-02 07:17] #38 closed, assigned to mnater

[2018-12-02 07:17] #20 closed, assigned to nobody

[2018-12-02 07:18] #19 closed, assigned to mnater

[2018-12-02 07:19] #22 closed, assigned to mnater

[2018-12-03 11:30] tbsmark86 commented on #45
Hi again,

thanks for the update! Works better now.

I've simply used the dictionary file from LanguageTool and then diff'ed the result from Hypenopoly and Pyphen.
You can find the dicts here: https://github.com/languagetool-org/languagetool/tree/master/languagetool-language-modules/de/src/main/resources/org/languagetool/resource/de/hunspell

While testing again i've noted a strange thing with nod

[2018-12-11 10:47] mnater opened #47 "Make node-module sync"
Currently the node module `Hyphenopoly.module.js` returns promises. This is great but doesn't work well with existing scripts that in generally work synchronous.

The module is currently async because the files (`.wasm` and `.hpb` are loaded async and the WebAssembly-Module is instantiated async).

With `fs.readFileSync()` and `new WebAssembly.Instance()` there are sync (allthough not recommended)

[2018-12-11 11:15] RLesur opened #48 "dontHyphenateClass setup option"
First of all, thanks for this awesome work! I love it!
I struggled with the `dontHyphenateClass` setup option.

Reading the [wiki section](https://github.com/mnater/Hyphenopoly/wiki/Setup#donthyphenateclass), I understood that the `dontHyphenateClass` can be modified (maybe I'm wrong). I did several tests and I didn't succeed to modify its default value.

The `donthyphenate` class works perfectly

[2018-12-11 17:36] #48 closed, assigned to mnater

[2018-12-11 17:38] mnater commented on #48
Hi

Thank for your kind words and thanks for reporting.
It's fixed in master and will be part of the next bugfix release.

Best regards,
Mathias

[2018-12-11 20:33] RLesur commented on #48
Thanks a lot, Mathias!

[2018-12-13 08:02] kevinpursuing opened #49 "use in react"
how i use in react?

[2018-12-13 08:28] mnater commented on #49
What do you want to do?
Front-end or SSR or both?
What have you tried so far?

I don‘t know react very well. Exact answers (including code) to those questions could give me a good starting point…

[2018-12-14 12:01] mnater commented on #45
Sorry, I missed that part.
Newer versions of node.js support TypedArrays as argument for StringDecoder.write(). Older versions require it to be a `Buffer`.

[2018-12-14 12:02] #45 closed, assigned to mnater

[2018-12-18 16:04] mnater opened #50 "alphabet"
alphabet contains null-chars

[2018-12-18 22:13] #50 closed, assigned to mnater

[2019-01-04 13:57] mnater commented on #49
Hope this helps:

https://github.com/mnater/Hyphenopoly/wiki/Hyphenators#use-case-hyphenopoly-in-react

[2019-01-04 13:57] #49 closed, assigned to nobody

[2019-01-16 13:07] mnater opened #52 "prepare("*") and prepare(lang)"
In 080d5e75c438ea979f7c5ee64529933e4e6c252d engine-instantiation for .hpb's stored in the tmp hub-array was commented out (to get 100%) in coveralls.

That was an error!

With that commented out and if the hpb gets loaded before the engine (that may happen with small hpbs like pt.hpb) the promise returned by Hyphenopoly.config is never resolved.
(Thanks to isaacs on https://github.com/tapjs/node-t

[2019-01-16 13:27] mnater opened #53 "Hyphenate in small viewports only"
Got mail from V.:

Find a way to support something like:
[code]

[2019-01-16 23:21] #52 closed, assigned to mnater

[2019-01-21 23:37] mnater commented on #53
As usual, this is not that easy then I thought.

In case the media query doesn't require hyphenation, we don't neet to load `Hyphenopoly_Loader.js`. But when the media query changes (e.g. because the user switches from portrait to landscape or vice versa) `Hyphenopoly_Loader.js` needs to be added and loaded (or hyphenation needs to be removed).

This could look like the following example (not full

[2019-01-22 13:38] astridx opened #54 "Config Options"
Thank you for Hyphenopoly.
I used Hyphenator in the past. Is it possible to use the `config options` like `minwordlength` with Hypenopoly, too?

[2019-01-22 22:12] mnater commented on #54
Yes: https://github.com/mnater/Hyphenopoly/wiki/Setup#minwordlength

[2019-01-22 22:12] #54 closed, assigned to nobody

[2019-01-23 15:09] rotsee commented on #47
This is more or less possible with `await`, but it's hard (impossible?) to catch errors when using multiple require language codes. This works:

[code]

Also, this will work:

[code]

This, however, will _not_ work:
[code]

[2019-01-23 20:17] astridx opened #55 "settings for `minWordLength`, `leftmin` and `rightmin` in all Browsers"
Many thanks for this extension. I hope I may ask something again.
I'm using `hyphenopoly` and hyphenation only recently.

In Firefox my settings for `minWordLength`, `leftmin` and `rightmin` are ignored. Here are the CSS setting used - I think.
Chrome used my settings for the options `minWordLength`, `leftmin` and `rightmin`.

Is there a way to use the options in all browsers?

[2019-01-23 20:48] mnater commented on #55
Please post your code or send a link to the website where I can see the issue.

[2019-01-24 09:31] astridx commented on #55
Thank you very much for the quick reply.
I just installed everything online in a test system: https://awo.astrid-guenther.de/

In Firebox on Ubuntu 18.04 I see `leftmin` of 2 characters. For example Da-men
In Chrome everything is fine.
I emptied Browser Cache and I see no errors in Web Console.

![home 1](https://user-images.githubusercontent.com/9974686/51668638-f40b2b80-1fc2-11e9-930b-ce6f7a702e

[2019-01-24 21:03] astridx commented on #55
Sorry. I closed the issue by mistake

[2019-01-24 22:57] mnater commented on #55
Hi

That is expected behaviour.
You require two languages: de-de and en-gb. Both languages are supported by native CSS-hyphenation in Firefox. So hyphenation is done by the browser and the settings for Hyphenopoly.js are not taken in account.
Chrome (on Windows - I haven't tested it on Ubuntu) doesn't support hyphenation (yet). Hyphenopoly.js gets loaded and your settings are used.

If you always

[2019-01-24 22:57] #55 closed, assigned to mnater

[2019-01-24 23:03] mnater commented on #47
`await` is afaik just syntactic sugar for `Promise.then()` and not really async: `await`can only be used in `async function`.

But it's true: I'll have to find a way to catch errors if `Hyphenopoly.config()` returns a `Map` of promises.

[2019-01-29 20:42] #47 closed, assigned to mnater

[2019-02-04 01:40] ReLater opened #56 "[2.7.0] Too many errors of type "Element with 'xy' found, but 'xy.hpb' not loaded. Check language tags!""
I have a simple HTML like this
[code]
- 1 attribute  lang="de-de" in HTML tag.
- And Just 1 attribute `lang="la"` at all.
- And just 1 attribute `lang="en-gb"` at all.
- The content is hyphenated but I get 7 + 15 = 22 error messages in the browser console. As far as I see for nearly any child tag.
- Yes, I know that I shall add these 2  languages to `required`, too.

#### Vivaldi browser ( a Chrom

[2019-02-05 08:13] mnater commented on #56
Thank you.

I think both can be done.

[2019-02-07 14:05] mnater commented on #56
In bee6c9a7a782c64cbd5bddfee384912769431321 different levels (info/warning/error) are implemented in Hyphenopoly's "error"-event.

About reducing the number of messages:
While this could be achieved by creating a history of messages and only log new messages I decided to not implement this. I think this big number of messages reflects clearly that something in the setup is wrong. I think it's ok t

[2019-02-07 14:05] #56 closed, assigned to mnater

[2019-02-08 14:07] rotsee opened #57 "Feature request: Find out if a language tag is supported"
It would be great if there was a way to find out what languages are supported, without having to resort to trying every possible language code to see if it throws an error or not.

Use case: If I have a language fallback chain like `no => nb => nn` (Norwegian, followed by the two official language varieties), or `en-ZA => en-GB => en` (South African English, followed by British English, followed b

[2019-02-08 15:01] janschill commented on #57
Can't you just have a look into https://github.com/mnater/Hyphenopoly/tree/master/patterns?

[2019-02-08 15:28] ReLater commented on #56
Thanks for looking on it.

Yes, I know ;-) Users of my Joomla plugin see a fat warning when they configure the hyphenate and donthyphenate selectors. Some won't learn it or can live with it. Freedom of choice.

Concerning messages: I have added an option to disable them in my plugin (with a description about advantages concerning  debugging). It uses a `handleEvent .... preventDefault()` in the ba

[2019-02-08 15:49] ReLater opened #58 "[2.7.0] Patterns loaded twice under some fallback circumstances."
Example: I've configured like follows for a page that uses `lang=en-us` and `lang=en-au`. There's a pattern `en-us.hpb` but no `en-au.hpb`. Thus I configured `en-us` as fallback pattern for it.

[code]

Inside console tab "Network" it looks like the en-us pattern is loaded twice(?):

![08-02-_2019_16-46-07](https://user-images.githubusercontent.com/20780646/52489031-8580bd00-2bc1-11e9-9d77-91670ca

[2019-02-08 21:21] rotsee commented on #57
I guess, but that seems extremely awkward? I would end up with something like this:

[code]

I can see a lot of problems with that:

 - Esoteric server environments, where this doesn't work as expected
 - Will break when you decided to rename `patterns` in a minor update
 - You have accidentally checked in a MacOS `.DS_Store` file in that dir. Things like that can and will happen again, but should

[2019-02-09 21:55] mnater commented on #57
Hi

Do you request this feature for the browser-script or for the node module (or both)?

I'm not sure if such language fallback chains would word correctly. E.g. your chain is `no => nb => nn` and the library has patterns for `nb` and for `nn`. If the text is annotated `no` and written in `nn` this could lead to wrong hyphenation. I'd prefer no hyphenation instead of wrong hyphenation…

[2019-02-09 22:03] janschill commented on #57
Well, of course it would be good to have script test if the language is supported, but it takes not even a minute to check the folder and find out, in my humble opinion

[2019-02-09 22:14] mnater commented on #58
Thanks

I was able to reproduce this issue.

[2019-02-10 11:20] rotsee commented on #57
@mnater For the node module, sorry for being unclear.

@janschill Yes, but it would mean that I have to maintain a hard-coded list of currently supported language tags, as I can not expect my end users to look in a folder in a Github repo before entering a language.

@mnater Re the Norwegain fallback chain, `no` is considered a [macro language](https://iso639-3.sil.org/code/nor) in ISO 639, with `

[2019-02-10 12:48] mnater commented on #57
Thanks for clarification

[2019-02-10 22:09] #57 closed, assigned to mnater

[2019-02-10 22:17] mnater opened #59 "emit error, when an unsupported language is required"
[code]
silently fails (timeout).

[2019-02-12 09:20] #58 closed, assigned to mnater

[2019-02-12 10:33] mnater commented on #59
It's not silent (404 Error in Network-Console).
I'll leave this how it is.

[2019-02-14 14:46] mnater commented on #59
Rethought that:
Let's say a lib or a framework includes Hyphenopoly and a user of this lib/framework uses a language that is not currently supported. 404s and FOUHC-timeouts would be cumbersome.

Ideas:
__recover from 404 (don't collect the elements with an unsupported language, but hyphenate elements with a supported language and emit a warning)__
Populate a list of languages when .hpbs are loade

[2019-02-16 22:18] mnater opened #61 "Idea for smaller pattern size"
Currently patterns like `a2b ac3 b2a b3b ab2c ad3e` are stored as `:3:a2bac3b2ab3b:4:ab2cad3e`.

Given the fact that many patterns start with a common prefix (`a` an `b` in the example above) it could be space saving to store these patterns as: `:3a:2bc3:3b:2a3b:4a:b2cd3e`. (To keep it simple take just the first char.)

Proceeding:

1. refactor `tex2hpb.js` to see if and how `.hpb` files get small

[2019-02-17 22:43] mnater commented on #53
Commit closed this. But still open tasks.

[2019-02-18 21:07] babruix opened #62 "Better check for language"
Currently check for language is done by ```lang !== ""``` which is not correct in case if lang attribute does not exist: then it becomes undefined. Better to convert lang to boolean using ```!!lang```

[2019-02-18 21:16] babruix commented on #62
Ah, seems wring project, error was in Hyphenator.js!

[2019-02-18 21:16] #62 closed, assigned to nobody

[2019-02-19 16:38] RaedQumsieh opened #63 "Chrome browser"
I downloaded your code and started the example1.html. I noticed that the hyphenation isn't working under Chrome! Though it works fine under Edge and FireFox.

Chrome 72.0.3626.109
![screenshot 2019-02-19 17 21 54](https://user-images.githubusercontent.com/29050781/53031379-06b33c00-346d-11e9-8598-2eeada249888.png)

MS Edge:
![screenshot 2019-02-19 17 22 56](https://user-images.githubusercontent.co

[2019-02-19 17:07] mnater commented on #63
Are there any messages in the developer console?

[2019-02-19 20:39] mnater commented on #63
Ah, now I noticed.
You'll have to load the example1.html over http or https from a server and not over the file:// scheme.

Hyphenopoly doesn't work on FF either if loaded over `file://`. Firefox supports CSS-hyphenation for all languages in the example. Thus, the hyphenation you see is not from Hyphenopoly but from Firefox...

[2019-02-19 20:39] #63 closed, assigned to nobody

[2019-02-19 21:40] mnater commented on #53
Docs:
https://github.com/mnater/Hyphenopoly/wiki/Special-use-cases#hyphenate-depending-on-media-queries
https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-Object#unhyphenate

Test:
https://github.com/mnater/Hyphenopoly/blob/master/testsuite/test32.html

[2019-02-19 21:59] #53 closed, assigned to mnater

[2019-03-07 14:20] mnater opened #64 "Rethink branch strategy"
Good article: https://nvie.com/posts/a-successful-git-branching-model/

[2019-03-14 06:14] mnater opened #65 "char mapping collision in .hpb files"
Currently the number 58 is used to separate pattern groups:
[code]
This will collide with mapped characters if the alphabet has >= 45 characters.

-> use different marker (e.g. 0 or 255).

This needs to be documentet in source and .hpb definition. And will require a new .hpb-Version and thus a major release.

[2019-03-14 06:20] mnater commented on #61
Wrapping my head around this.

patterns are currently translated: the number chars (utf8/ascii 49-57) are mapped to [1-9] (plus the special exceptions values 10 and 11), the alphabetic chars are mapped to [13-n] (with 12 being the word boundery marker).

Example:
[code]

(This lead to issue #65).

[2019-03-14 08:34] mnater commented on #61
New format of patterns:
[code]

`0` is the marker for a new group, followed by the length, the two first characters and then a list of the rest of the characters.

This saves about 20% of size (compressed and uncompressed, tested with de and hu).
Prepending 1 or 3 characters also saves size but not that much.

This is worth considering.

[2019-03-19 09:26] mnater commented on #64
https://github.com/mnater/Hyphenopoly/wiki/Branching-Model

Will be implemented when v3.0.0 is released

[2019-03-19 09:37] mnater commented on #65
fixed in https://github.com/mnater/Hyphenopoly/tree/patternFormat

Needs merge for v3.0.0

[2019-03-19 09:37] #65 closed, assigned to mnater

[2019-03-19 09:38] mnater commented on #61
Implemented in https://github.com/mnater/Hyphenopoly/tree/patternFormat

Needs merge for v.3.0

[2019-03-19 16:49] masi opened #67 "Event when native hyphens are supported (was: forcing leftmin with word joiners U+2060)"
On browser that do support hyphenation I want to enforce leftmin (maybe rightmin as well). I cannot set leftmin with CSS.

But in Firefox and Edge it is possible to use the word joiner (`&#x2060;`) to prevent breaking. It would be nice to have Hyphenoply add word joiners after the second character (and all the following if necessary) to have leftmin working for native hyphenation.

[2019-03-19 19:38] mnater commented on #67
Hi

There's a CSS property called `hyphenate-limit-chars` that was once in CSS3 but got deferred to CSS4 (https://www.w3.org/TR/css-text-4/#hyphenate-char-limits). I don't know how the actual support looks like in current browsers.

I don't think that Hyphenopoly should add word joiners. Hyphenopoly is only loaded, when native hyphenation doesn't work and I'd like to keep Hyphenopoly_Loader as sma

[2019-03-19 20:22] masi commented on #67
Ok, no problem. Is there any event triggered when Hyphenopoly is NOT loaded because of native support? This way I could hook up my own word-joiner-injection code only on browser with native support.

For now  have turned on Hyphenopoly for all browsers. All on my own thanks to the documentation.

Cheers,
Masi

[2019-03-20 12:03] mnater commented on #67
There’s no such event. But good idea!

[2019-03-20 22:23] #64 closed, assigned to mnater

[2019-03-28 22:49] #67 closed, assigned to mnater

[2019-03-28 22:49] #61 closed, assigned to mnater

[2019-03-28 22:49] #59 closed, assigned to mnater

[2019-03-31 21:54] mnater opened #69 "Memory"
The memory allocated by Hyphenopoly_Loader and Hyphenopoly currently doesn't get freed.

![img1](https://user-images.githubusercontent.com/280635/55295622-91456e80-540f-11e9-98f0-7a5c8a9bff85.png)

That's ok if at some point later Hyphenopoly is used again on a specific site (e.g. if dynamically loaded text need to be hyphenated), if not the memory should get freed.

We could do

[code]

(preferab

[2019-04-04 15:28] mnater commented on #69
fixed in 8a785bafc2558f22c9c63c872cfc70fe3f4b7bf8

[2019-04-16 07:25] AKKlostermann opened #70 "Webpack compatibility ?"
I looked over the issues and the docs and I believe this has not yet been asked.

I'm trying to import it inside a Webpack project. Webpack uses ES modules (import). When I do that however, it complains about "fs" module not being found, apparently trying to run/import the node version.

Mainly I need this for use inside React components, because Chrome should do hyphenation but in practice it doe

[2019-04-16 07:44] mnater commented on #70
Hi

Thanks for the question.

I'm not very well versed in webpack, but I'll have a look…

I've only tested with `browserify` so far: [browserify-hyphenopolymodulejs](https://github.com/mnater/Hyphenopoly/wiki/Special-use-cases#browserify-hyphenopolymodulejs). May be that could help?

Regards,
Mathias

[2019-04-16 08:42] AKKlostermann commented on #70
I think the problem is this: https://github.com/mnater/Hyphenopoly/blob/master/hyphenopoly.module.js#L17

Webpack probably tries to find "fs" and fails, rather than return undefined.

[2019-04-16 09:39] mnater commented on #70
Yep, that's correct.

We should define the loader ("fs" in node-environment and "http" in browser-environment) in `H.config`.

This will need some time and testing (and I'll have to wrap my head around webpack).

[2019-04-16 09:41] mnater commented on #70
Until then: as a workaround just replacing "fs" with "http" in line https://github.com/mnater/Hyphenopoly/blob/master/hyphenopoly.module.js#L17 should do the trick

[2019-04-17 08:36] jneyses opened #71 "German hyphenation not accurate"
## Introduction

I am trying to use the hyphenopoly package in a node.js project to hyphenate words of a text. Primarily usage would be for German texts. I followed the example of a node implementation.

I have taken just a blindtext from a  generator:

**"Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes."**

The hyhenopoly converted this into

**"Er hörte leise Schrit•te hin•ter si

[2019-04-17 09:08] jneyses commented on #71
I have founds the solution

[code]

[2019-04-17 09:08] #71 closed, assigned to nobody

[2019-04-18 06:07] mnater commented on #70
Hi

I think I found the solution.

__tldr;__
Tell webpack to shim the `fs`-module with an `"empty"` object.

Webpack.config.js:
[code]

With this everything works with the current implementation (Version 3.0.1)

----
__My full setup__

mkdir h9ywp
cd h9ywp/
npm init -y
npm install webpack --save-dev
npm install webpack-cli --save-dev
npm install hyphenopoly
mkdir src
cd src/
touch index.js

[code]

[2019-04-18 06:19] mnater commented on #70
~~wiki updated: https://github.com/mnater/Hyphenopoly/wiki/Special-use-cases#webpack~~

doc: https://github.com/mnater/Hyphenopoly/blob/master/docs/Special-use-cases.md#webpack

[2019-04-18 08:25] AKKlostermann commented on #70
This doesn't really work for me. I've had to add a file-loader for the hpb files, require them, and now I'm trying to work out how to make the wasm load.

There may be an easier way to structure the library for use in webpack, parcel and the like. I'm not yet good enough with that technology to see it.

[2019-04-18 09:21] mnater commented on #70
Yes, there are other ways. Packages like [hyphen](https://www.npmjs.com/package/hyphen) work that way. They require the patterns to be preloaded.

Hyphenopoly on the other hand tries to dynamically load patterns based on user configuration. This has the advantage that in an app with multiple languages only the languages required by the user have to be loaded.

The node module of Hyphenopoly (`hyph

[2019-04-18 16:51] tdeuling opened #72 "SyntaxError: Unexpected keyword 'const'."
Hi,
we get the following Error in for example Safari/iOS v9.

[code]
![Selection_259](https://user-images.githubusercontent.com/1298841/56377508-e1dc0a80-620a-11e9-96ef-bff14fcbcd90.png)

Whst could be the problem?

[2019-04-19 12:59] mnater commented on #72
Hi

Hyphenopoly uses ES6 variable definitions (let and const) instead of the older `var` definitions.

Old iOS Safaris had a bug where const wasn‘t recognized in strict mode. This has been fixed in iOS 10.

If you really need support for legacy browsers use a transpiler like https://babeljs.io/

[2019-04-26 10:52] #72 closed, assigned to nobody

[2019-05-01 13:44] plagasul opened #73 "Loader looks for files in the wrong folder"
Hello,
I am using hyphenopoly on a a Kirby cms installation.
At the moment the loader seems to look for files on ```http://localhost/website/Hyphenopoly/``` but the files are actually on ```http://localhost/website/assets/js/Hyphenopoly```

This is probably because Kirby handles its own routes internally but, is there any way to tell hyphenopoly where to look ?

Thank you

[2019-05-01 14:21] ReLater commented on #73
Did you try `paths` already?
https://github.com/mnater/Hyphenopoly/wiki/Global-Hyphenopoly-Object#paths

e.g. I use
[code]

[2019-05-01 21:58] plagasul commented on #73
It worked using paths AND fixing folder permissions.
Perhaps it may be helpful for somebody else to note that although the loader was placed at ```/assets/js/hyphenopoly/```, it started searching for the other files at ```/``` (I assume this is kirby's routing doing) so I had to declare the paths like this:
[code]
Thanks

[2019-05-03 20:21] FrankConijn opened #74 "Speed Hyphenopoly versus Hyphenator?"
Not really an issue, but a for me important question: How do Hyphenopoly and Hyphenator compare when it comes to rendering speed? I want to use them only for browser hyphenation.

[2019-05-03 22:23] vielhuber commented on #17
This is how to dispatch the event:
`Hyphenopoly.events.dispatch('contentLoaded');`

[2019-05-03 22:43] mnater commented on #74
Hi

Thanks for this interesting question.

_First of all: please note that Hyphenator is no longer maintained._

Back to your question:
The answer is difficult.

__network requests__
Hyphenator can be run without the loader. So on a typical page (one language) only _two_ http requests are necessary (Hyphenopoly.js and the pattern file) – or three if you use the loader.
Hyphenopoly.js in contrast i

[2019-05-03 22:49] mnater commented on #17
Thanks for clarification.
I'd recommend to use [Hyphenators](https://github.com/mnater/Hyphenopoly/wiki/Hyphenators) to prevent a costly rehyphenation of the whole document.

[2019-05-06 11:13] astridx opened #75 "Some selectores are not hyphenated"
I have a site where some selectors do not use JavaScript hyphenation.

Here is my code.
[code]

You can see the issue on this test page: https://awo.astrid-guenther.de/datenschutzerklaerung
or on http://190409y73r6bzqcxxiq.wh.routing.zone/index.php/datenschutzerklaerung. The text "Datenschutzerklärung" is not hyphenated on old devices.
Apart form that the hyphenation works.

Am I doing something w

[2019-05-07 08:58] mnater commented on #75
Hi

`orphanControl` is expected to be of type `Number` (as well as `minWordLength`, `leftmin` and `rightmin`:

[code]

That should solve the issue.

Further suggestions:
- `"hyphen"` defaults to the soft hyphen. No need of setting this explicitly.
- Don't use `"html"` as selector. Use `"body"` if you want to hyphenate the all content. (Using `"html"` unnecessarily processes the whole document incl

[2019-05-07 09:02] mnater opened #76 "Check types of settings"
Check types of settings to prevent flaws like issue #75.

E.g. check that `orphanControl` is of type `Number` or try to parse strings in to numbers.
Otherwise give helpful error messages.

[2019-05-10 12:24] bfrb opened #77 "Failure in requestBinary in IE 11 causes hpb-files not to be loaded"
First off, thanks for all the great work. Helps a lot in current project!

Now on to the bug. Iam using Hyphenopoly in IE 11 and have configured the de-locale to be used for any browser. I've found that the Promise given at window.Hyphenopoly.hyphenators.de never settles and started looking around why this happens. From my perspective, the behavior to not settle instead to reject is a bug in its o

[2019-05-10 17:07] plagasul commented on #73
I've reopened because it is not fixed as I thought.

The loader seems to be looking one folder UP from the actual page's location, which is puzzling.

If the page is at ```http://localhost/webdev/page/index.html```
Then it looks at ```http://localhost/webdev/Hyphenopoly```

If the page is at ```http://localhost/webdev/page/folder/index.html```
It looks at ```http://localhost/webdev/page/Hyphenopol

[2019-05-10 17:53] plagasul commented on #73
Ok now I see how it works and I fixed it using Kirby's own method ``` $kirby->url('assets')``` and the paths option.
Thanks

[2019-05-10 17:53] #73 closed, assigned to nobody

[2019-05-12 21:56] plagasul opened #78 "Does not seem to work on chrome android ?"
May it be hyphenopoloy is NOT working on chrome android? Did I miss anything?

I am developing a site on localhost and while on desktop chrome devtools, mobile mode, it works, if I visit it from my cellphone on the local network, default android chrome browser, I don't see any hyphenation.

![image](https://user-images.githubusercontent.com/13966673/57588228-615eb000-7511-11e9-9795-1837bdb7991d.pn

[2019-05-13 12:28] mnater commented on #78
Hi

I don't know. I don't have a real android device at hand to test. It works in my android emulator, though.

Could you please send the complete code or a link, where I can test (including exact Android Version and Device).

Chrome on Android has native CSS-hyphens support (like Chrome on Mac, but not Chrome on Windows). Did you enable CSS-hyphenation or use "FORCEHYPHENOPOLY"?

[2019-05-13 12:38] plagasul commented on #78
Hello, thanks for your answer.

Here is a link that should show a similar layout (different branch) and no hyphens on android : https://vesselartproject.org/final

I am on a Huawei P Smart 2019, with Chrome 74.0.3729.112, and Android 9 and EMUI 9.0.1

The CSS code for that element is:
[code]

Hyphenopoly is initialized on head tag using this code (paths and last line use a CMS specific php helper)

[2019-05-14 09:35] mnater commented on #78
Thanks for the information.

I'm able to reproduce the issue on the phone emulator in android studio. It's a strange case and I don't have a soultion, yet.

1. I've noticed that there are no `lang`-attributes in your html. The hyphenation algorithm (be it native CSS or Hyphenopoly) needs to no what language the text is written. So make sure to add proper language tags. – But that didn't change any

[2019-05-16 12:23] henk23 opened #79 "Supply a long word for each language"
Just a suggestion, let's collect a list of long words for all the supplied languages in the patterns directory.
I for one am only fluent in two languages and don't really have a clue what to put into the require object for the other eight languages my client's website supports.

Here's a start, collected from the wikipedia list of longest words:

[code]

[2019-05-16 13:21] mnater commented on #79
Great idea!
Shouldn't we make this a page in the project's wiki?

[2019-05-16 15:46] henk23 commented on #79
I was thinking maybe rather 'hard code' these words somewhere so the user does not have to specify this at all. Ideally the config could look like this:
[code]
Hyphenator_Loader.js can then feature test the browser for CSS-hyphens support _automagically_. 🌈

[2019-05-16 21:50] mnater commented on #79
Yep, technically possible. But it comes with the cost of ~1kb larger file size.
I prefer to keep the loader-script as small as possible.

But I can imagine a tool similar to the [mergeAndPack-tool in Hyphenator](http://mnater.github.io/Hyphenator/mergeAndPack.html) that automises this step (and merges the configuration part with the loader script). With this we could gain the ease-of-use you propo

[2019-05-16 21:56] #77 closed, assigned to mnater

[2019-05-17 07:44] henk23 commented on #79
Ah, I see, that makes sense and sounds good. :)

[2019-05-19 21:52] mnater commented on #78
I was wrong about this. Hyphenation works for english but Android doesn't support hyphenation for italian. So the text "L'Istituto per l'Immaginazione del Mediterraneo" isn't hyphenated (and expands the grid-track so that the text in the lines above don't need to be hyphenated).

In your html: set the language tags correctly. For example set `lang="en-us"` in the `<html>` tag and then set `lang="i

[2019-05-19 21:52] #78 closed, assigned to nobody

[2019-05-19 21:53] #75 closed, assigned to nobody

[2019-05-19 21:55] #74 closed, assigned to nobody

[2019-05-19 22:05] mnater commented on #76
Checking the types in the UA script would increase the size of the script and penalize all users.

A tool like [mergeAndPack](http://mnater.github.io/Hyphenator/mergeAndPack.html) would help to marginalize such issues.

[2019-05-19 22:05] #76 closed, assigned to mnater

[2019-05-21 18:45] FrankConijn opened #80 "Javascript soft hyphens the only option for browsers?"
There are reports that the Google bot has started executing Javascript, except certain scripts/under certain circumstances. That means that it would read 'tech&amp;shy;nique' in stead of 'technique'. Which has implications for the SEO.

Is Javascript the only option in Hyphenopoly for browsers?

PS: Your script has gained value, since Microsoft decided to switch to Chromium as the engine for Edge.

[2019-05-21 20:59] ReLater commented on #80
Just as a suggestion: I have a "Don't load Hyphenopoly if bot" managed by PHP. In a Joomla-Plugin where it's easy to identify bots with a 1-liner. But I know that's not always that easy in other systems.

[2019-05-22 15:24] mnater commented on #80
To my knowledge google has no issues with indexing words that contain soft hyphens. Do you now more?

Chrome on Windows does not support hyphenation because MS did not give access to the hyphenation API (see [this Chromium bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=605840#c31)). This may change when Edge
uses Chrome... The usecase for Hyphenopoly will then be marginalized to

[2019-05-22 18:31] FrankConijn commented on #80
Well, *knowing* how the Google bot works is quite difficult, because Google is very secretive about that. As you will know. But I'm gonna have some really angry clients if it appears that the Javascript-inserted soft hyphens do interfere with the indexation. So I have to be sure that it doesn't.

I can make it so that Hyphenopoly is not executed if the client is a Google or Bing bot, but maybe you

[2019-05-23 08:28] mnater commented on #79
Some ideas:

A) Tool like mergeAndPack

- [-] there are many options and it's almost impossible to test correctness of all possible output of such a tool
- [-] setting up such a tool is boring
- [+] nice and easy to use
- [+] 4 resources (Loader with config, Hyphenoply, Engine and pattern)
- [-] two sources of information about config to maintain (or delete wiki pages)

B) A tool that just helps t

[2019-05-23 08:29] mnater commented on #80
We can never be sure about that.

We could make a test: create a page with a fantasy word that gets hyphenated and see how the Google Web Crawler handles it. Then we would know for now. But we never now what happens tomorrow. Maybe some engineer decides to change how soft hyphens are treated by the bot and our findings are worthless.

Is it bloated?

The Hyphenopoly_Loader is larger than Hyphenato

[2019-05-24 17:03] mnater commented on #79
I‘ve tried jsonform(s).
There‘s no fun. I‘ll stick with option C) for now.

[2019-05-24 17:03] #79 closed, assigned to mnater

[2019-05-29 18:41] FrankConijn commented on #80
I'd say that's a very good idea, because of two reasons. The first is that, as you will know, Microsoft is ending support for Win7 end of this year, and the upgrade to Win10 is cheap, if not free. So most people will upgrade, and thus start using Edge.

The second reason is that in my experience, IE 10+ has excellent CSS hyphenation, in all system languages available. In Dutch, it's even better th

[2019-06-02 00:10] andremacola commented on #80
That would be awesome. Here we have an internal system to generate pdf's with no support for IE and will love a smaller version and modern browser only.

[2019-06-15 11:46] astridx commented on #75
Sorry for replying so late. Today I came to look at your tip. Thank you for the detailed information and the hint. Now everything works.

[2019-06-26 20:25] mnater commented on #80
This is going to be a greater step, but I'm making good progress.
There will be a smaller release in the next days (end of June) that prepares for this major change (I transferred the documenation from the wiki to a docs/ folder – so the documentation can be version specific).
I'm planning to go public with a "modern browser only"-version by the end of August.

[2019-06-28 13:45] ReLater opened #83 "docs/index.md. Dead links?"
Maybe I just don't understand correctly how to use the new docs structure (since 3.1.1)?

When I open https://github.com/mnater/Hyphenopoly/blob/master/docs/index.md all links are "dead" because of missing `*.md` in links.

[2019-06-29 06:41] mnater commented on #83
Hi

Thanks for reporting.
You can access documentation at http://mnater.github.io/Hyphenopoly/ until this is fixed.

[2019-06-29 22:00] mnater commented on #83
Fixed: https://github.com/mnater/Hyphenopoly/commit/734edf42e9b4d26852ffee05cf486005f4980261

[2019-06-29 22:00] #83 closed, assigned to mnater

[2019-07-01 11:37] jallusparta commented on #78
@plagasul did you get this to work in android chrome by requiring italian in hyphenpoly?

My problem is, that as android doesn't have hyphens dictionary I need either, hyphens doesn't work on chrome but does in other browsers. Can I bypass this problem by using hyphenpoly and importing the needed hyphens dictionary?

[2019-07-09 16:35] ahwitz commented on #70
FYI: I'm fairly certain that after https://github.com/mnater/Hyphenopoly/commit/2b3da7deb20b440871549adcccf9bfe493574b71, the recommended Webpack solution now spits out a `Critical dependency: the request of a dependency is an expression` warning every time compilation happens, because of the variable being passed in to `require`.

[2019-07-09 20:07] mnater commented on #70
Thank you for this precise report. I'll look into it.

[2019-07-09 21:14] mnater commented on #70
Fixed in https://github.com/mnater/Hyphenopoly/commit/5f7c7e5de7aeda5352727000b3e884d17566bbd9

But not ready to land (waiting for cdnjs to merge https://github.com/cdnjs/cdnjs/pull/13323 to be able to check http loading)

[2019-07-10 12:35] ahwitz commented on #70
Not a problem for us; due to the same issue as AKKlostermann above, Hyphenopoly can't easily do what we need, so we've decided on using a different library. Just wanted to pass on the bug report after I bandaid-ed it while poking around. Thanks for getting to it so fast regardless!

[2019-07-24 20:29] #70 closed, assigned to mnater

[2019-07-25 08:26] jportella93 opened #84 "Hyphenate without file being served over http/s?"
Hi! First of all, thanks for the great package, it's a live saver :)

So I'm trying to hyphenate a local html file that doesn't get served over http/s. The problem is that the Loader tries to load the pattern file using Fetch, so it fails to load a `file:///`.

I get the following error:
[code]

Is there any workaround for this? I'm just trying to load this `.html` with Headless Chrome in order to

[2019-07-25 09:25] jportella93 commented on #84
I'm being able to get the files when I serve them over http with a local server and specifying the paths in
[code]
As the files are just being served as they are, maybe it would be a good idea to have a cdn or some link to just put in there to avoid running a local server?

[2019-07-25 12:35] mnater commented on #84
Hi

There's no workaround in Hyphenopoly_Loader.js, which is intended to run as a polyfill on websites.

For that use case (converting to pdf) you could also use the [node module](https://mnater.github.io/Hyphenopoly/Node-Module.html) which loads the files using the "fs"-module (you'll need node and do some more coding, though).

Using a CDN would be the fastest way. Hyphenopoly is currently avail

[2019-07-25 13:11] bfrb opened #85 "Hyphenopoly Loader fails on Firefox 60.x ESR with Client SSL certificate"
Given that
* an application is served by a server which requires an client SSL certificate
and
* the browser being used to load the app is FireFox 60.x ESR
when Hyphenopoly_Loader.js uses window.fetch to load files then the request is answered with 403 forbidden.

The solution for me was to follow the one accepted over here: https://stackoverflow.com/questions/39417232/fetch-fails-in-firefox-with-

[2019-07-25 14:12] jportella93 commented on #84
cdn fixed it! 👍

[code]

[2019-07-25 14:12] #84 closed, assigned to nobody

[2019-08-20 12:56] dev-sabbir opened #86 "Is there any way to exclude some words from being hyphenated ?"
Hi,
I was thinking if there is any way you can exclude some specific words i.e. Brand name etc from being hyphenated in hyphenopoly configuration.Is there any existing configuration?
Thanks.

[2019-08-20 20:16] mnater commented on #86
https://mnater.github.io/Hyphenopoly/Setup.html#exceptions
or
https://mnater.github.io/Hyphenopoly/Setup.html#donthyphenateclass

[2019-08-23 13:53] mnater opened #87 "Links are not copied correctly"
https://www.webfactory.de/blog/spass-mit-dem-silbentrennungsalgorithmus

[2019-08-24 20:50] #87 closed, assigned to mnater

[2019-08-24 20:54] #85 closed, assigned to mnater

[2019-08-29 20:19] #86 closed, assigned to nobody

[2019-08-29 20:50] dev-sabbir commented on #86
Thank you @mnater . Sorry I should be the one to close this issue.

[2019-09-04 09:55] Bertijn opened #88 "IOS9 eachKey bug"
Hi,

For my project we implemented the Hyphenopoly library, and after some intensive testing, we came across the error about 'const' and 'let' not being supported in 'strict' mode on IOS9 (there has been logged a ticket before).

After running the files (Hyphenopoly.js and Hyphenopoly_Loader.js) through Babel, the error about the const's were gone, but we occured a new error. In the 'checkCSSHyphe

[2019-09-04 20:57] mnater commented on #88
Hi

Thanks for the debugging work.

Sadly, I don't have an iOS9 device at hand anymore. I'm going to try to reproduce the issue in a Xcode simulator.

Anyhow, my code is fishy. `getElementsByTagName` returns a `HTMLCollection` but the code looks like it expected a `NodeList`. Maybe using `querySelectorAll` (wich returns a `NodeList`) and then doing a `foreach` over the `NodeList` would be a better

[2019-09-06 03:01] mnater commented on #88
Reproduced and fixed in develop branch (https://github.com/mnater/Hyphenopoly/commit/35ca3cf0519ff3f532933de7ca0e32465b0cf094#diff-e21a372b907c129ba216619c03fcbc38)

Will be part of the next release.

[2019-09-11 13:22] Bertijn opened #89 "Unable to focus element when Hyphenopoly is active"
On my project, I encountered another problem, but I didn't have the time to debug it this time.

We are focusing certain elements on certain pages, such as inputfields for searchpages, on the page init. However, on Windows Chrome, where Hyphenopoly is used, the input doesn't get focused.

Sometimes, we get a Hyphenopoly timeout message, Hyphenopolys 'FOUHC'-prevention timed out after ... ms, after

[2019-09-13 08:07] mnater commented on #89
Hi

Thanks for reporting. I‘d like to reproduce this issue. Could you please post the code or a link, where I can see what you are doing?

Thanks

[2019-09-14 20:36] mnater commented on #89
I think I found the source of the problem: `HTMLElement.focus()` doesn't work if the element is hidden (that makes sense since setting the focus on a invisible element would have no effect).

By default Hyphenopoly_Loader hides the whole document to prevent a "Flash of unhyphenated content" (FOUHC) until hyphenation has finished. If `focus()` is called while the document is hidden, the focus will

[2019-09-19 12:35] Bertijn commented on #89
Hi @mnater ,

Thanks for getting back to me! The hide: "text" does indeed seem to fix the focus issue! We'll do some further tests, but I'm hopeful.

Yet again, thanks for the explanation and solution! Take care!

[2019-09-22 20:19] mnater commented on #69
Uh!
https://github.com/mnater/Hyphenopoly/commit/8a785bafc2558f22c9c63c872cfc70fe3f4b7bf8 didn't actually implement freeing memory…

[2019-10-14 19:38] #88 closed, assigned to mnater

[2019-10-14 19:38] #89 closed, assigned to mnater

[2019-10-14 19:40] #69 closed, assigned to mnater

[2019-10-30 20:58] mnater opened #91 "Don't hyphenate Capitalized words"
There has been a Note added to the [css3-text editors draft](https://drafts.csswg.org/css-text-3/#hyphenation-opportunity) saying:

(See discussion: https://github.com/w3c/csswg-drafts/issues/3927)

FF 68 [implemented this](https://bugzilla.mozilla.org/show_bug.cgi?id=1550532). And there are corresponging bug reports for [webkit](https://bugs.webkit.org/show_bug.cgi?id=197889) and [chrome](https:/

[2019-12-26 21:08] #91 closed, assigned to mnater

[2020-01-27 14:34] mnater commented on #80
"It took a while"...
Major update is coming: https://github.com/mnater/Hyphenopoly/commit/c67af7ac2158ac56ae178567b1591783bab9a055

[2020-01-28 21:17] FrankConijn commented on #80
That would be nice! Looking forward to it.

[2020-02-02 21:29] mnater commented on #80
https://github.com/mnater/Hyphenopoly/releases/tag/v4.0.0

[2020-02-02 21:29] #80 closed, assigned to nobody

[2020-02-14 22:25] plagasul commented on #78
Apologies @jallusparta , it is as @mnater explained. Setting the language attribute in the html element and requiring italian when instantiating hyphenopoly works.

[2020-02-29 17:00] plagasul opened #92 "Cannot read property 'minWordLength' of undefined, when using hyphenators"
I am trying to use hyphenators to run hyphenopoly after ajax (fetch).

But I am consistently receiving a` Cannot read property 'minWordLength' of undefined` error. Both if firing the code from a script tag and also trying to run it on console:

![image](https://user-images.githubusercontent.com/13966673/75611582-0b004380-5b1c-11ea-80b1-55d528ecbfc7.png)

As you can see in the image, the element ex

[2020-03-01 22:13] mnater commented on #92
`hyphenator`-functions take an optional second argument denoting the selector (see: https://mnater.github.io/Hyphenopoly/Hyphenators.html) If that argument is not present it defaults to `.hyphenate` -- and you don't have settings for `.hyphenate`.

To solve the issue you have two possibilities:
a) define settings for a selector `.hyphenate`
or
b) tell your `hyphenator_en_gb`-function what selector

[2020-03-03 14:53] desiboli opened #93 "TypeError: Failed to execute 'arrayBuffer' on 'Response': body stream is locked"
Hi I'm getting the error `Hyphenopoly.js:912 Uncaught (in promise) TypeError: Failed to execute 'arrayBuffer' on 'Response': body stream is locked
    at Hyphenopoly.js:912` the lib is however working! But it's not that nice with errors in the console.

Any ideas why this error occurs ?

[2020-03-03 16:24] mnater commented on #93
Hi

This is a bug. It typically happens when the fetch response gets consumed twice (e.g. with fallback languages) I thought I had fixed this by cloning the response...

Could you please post your setup code so I can reproduce and (hopefully) fix the issue.

Thanks

[2020-03-03 20:12] plagasul commented on #92
Thank you for your quick answer!

Ah I see, I did not understand that from the documentation.

I still can't seem to make it work on AJAX, or perhaps I am not understanding the purpose of hyphenators.

This is the code atm:

[code]

And the function to hyphenate on ajax load:

[code]

My expecation is that running `hyphenate()` after an ajax load will hyphenate  all `.programme-title` elements tex

[2020-03-04 10:12] desiboli commented on #93
Hi again! Thank you for your quick response 😄

I have the lib installed in a Drupal theme. Therefore I can only show you the this.
I've removed and only kept the english and swedish wasm files inside the patterns folder.

[code]

[2020-03-04 22:03] mnater commented on #92
Your code looks correct.

Keep in mind that Hyphenators are only available if the browser doesn't support the language or if you use FORCEHYPHENOPOLY. So you'd have to check if Hyphenopoly is active before calling your `hyphenate()`-function:

[code]

[2020-03-04 22:34] mnater commented on #93
Hi
That code looks ok. And I can't reproduce the problem...

Is the page accessible somewhere?
Does this happen in all browsers?
Are there additional messages when you enable errors?
Is Drupal doing some fancy things? (I don't know Drupal well enough)

[2020-03-09 12:26] mblabs opened #94 "Issues with short words?"
I have some problems with the hyphenation of short words (like "olio" in italian). There is a way to solve it?

[2020-03-09 12:41] ReLater commented on #94
Which problems?

But I think you're probably talking about
https://github.com/mnater/Hyphenopoly/blob/master/docs/Setup.md#minwordlength
https://github.com/mnater/Hyphenopoly/blob/master/docs/Setup.md#leftmin-and-rightmin
https://github.com/mnater/Hyphenopoly/blob/master/docs/Setup.md#leftminperlang-and-rightminperlang

or

https://github.com/mnater/Hyphenopoly/blob/master/docs/Setup.md#exceptions

[2020-03-09 18:26] mnater commented on #94
The patterns for italian (https://github.com/hyphenation/tex-hyphen/blob/master/hyph-utf8/tex/generic/hyph-utf8/patterns/tex/hyph-it.tex) are created with left-/rightmin 2. Hyphenopoly doesn‘t allow lower values than those defined in patterns (doing so would lead to hyphenation errors).

According to Wiktionary „olio“ is hyphenated „o|lio“. The patterns for italian can not hyphenate this word.
If

[2020-03-10 13:57] desiboli commented on #93
Hi! The page is accessible but the Hyphenopoly code is not out yet!
In Chrome I get this error.

In Firefox I get another error message: ```TypeError: Body has already been consumed.```

Drupal is doing anything fancy locally at least, but in production it's aggregating all the javascript into one.

[2020-03-10 17:30] plagasul commented on #92
Thank you.

I can't seem to be able to make it work. Not even with FORCEHYPHENOPOLY.

I must be missing some important bit of information. Let me describe how this page works.

All the initalization code is included in a html-pre.php snippet. I try to force Hyphenopoly and use a visible hyphen for debugging.

[code]
The landing page does not contain any element with the selector '.programme-title'

[2020-03-10 21:27] mnater commented on #93
I really want to fix this. I'm gonna need more information than that. It would be best if I could reproduce the problem somewhere or somehow.

I'm sorry if I wasn't clear here. A link to a website where the problem occurs would help me a lot.

Does the problem occur in both cases (local and in production)?

[2020-03-10 22:06] mnater commented on #92
Thanks for the detailed information.
I have assembled a test case that does more or less what you describe:

[code]

Unfortunately, I still can't reproduce the problem.

Is the website with the problem available somewhere? A link would be great to get to the bottom of the problem.

Does the problem occur in all browsers or is it specific?

[2020-03-10 22:33] plagasul commented on #92
Thank you ,

Please visit https://www.vesselartproject.org/final/en/home from mobile or desktop in portrait mode.

It does seems to work on Safari ios and desktop, and on firefox desktop.

Does not seem to work on chrome android (unless caché is playing tricks on me) or chrome desktop (linux and mac).

[2020-03-10 23:35] desiboli commented on #93
Sorry for not being clear, the site I'm doing it for is www.unionen.se but the code is not in production yet! So I can only see the error locally at the moment. I can message you here again once the code is pushed to production! 🙇 Thank you, I will try to help you solve this as much as I can.

[2020-03-11 08:40] plagasul commented on #92
Actually, not exactly. What I am seeing in Safari ios and desktop, and on firefox desktop is hyphenation with proper hyphens, not with the hyphen defined in the selector above.

Additionally, if I inspect the element in Firefox, I don't see any soft hyphens in the code; I recall Hyphenopoly does introduced them visibly in the code.

![image](https://user-images.githubusercontent.com/13966673/76396

[2020-03-11 16:18] mnater commented on #92
Hi

I think I found the problem. There are two bugs.

**Bug 1**
A `hyphenator` expects either a `String` or an `HTMLElement` as its first argument, but `document.querySelectorAll` returns a `NodeList`.

My testcase above has a bug (I called `insert()` instead of `insert` in the `setTimeout`, so the html got inserted immediately and got hyphenated directly and not by the hyphenator-function). Sorry

[2020-03-16 13:04] plagasul commented on #92
Thank you again for your reply.

Ahá! I actually considered this at some point, but after reading the code had the impression it was able to handle node lists. I will do as you say here.

Can't I simply use a selector such as '.programme-title a' ?

Edit, I'll answer myself here: Yes, such a selector can be used, and it is enough for my use-case. But I can see how one may want to hyphenate several

[2020-03-16 22:00] mnater opened #96 "Hyphenators don't hyphenate childElements"
Hyphenators in their current implementation don't hyphenate childElements of the Element handed over to them.

See https://github.com/mnater/Hyphenopoly/issues/92

[2020-03-16 22:02] mnater commented on #92
I'm glad I could help.

Edit, I'll answer myself here: Yes, such a selector can be used, and it is enough for my use-case. But I can see how one may want to hyphenate several children at once, yes.

I would prefer a clear separation between style and implementation. Therefore I have suggested a separate class.
I have created a new issue (https://github.com/mnater/Hyphenopoly/issues/96)

Regards,
M

[2020-03-16 22:02] #92 closed, assigned to mnater

[2020-03-23 08:14] AndreasFerdinand opened #97 "Question: Change exceptions after loading Hyphenopoly_Loader.js"
Hi,

is it possible to change the configuration expecially the exceptions after the file Hyphenopoly_Loader.js is loaded?
I use Hyphenopoly.hyphenators for Strings (https://github.com/mnater/Hyphenopoly/blob/master/docs/Hyphenators.md#use-hyphenopolyhyphenators-for-strings) and I need to change the exceptions as described below:

[code]

Thank you and regards
Andi

[2020-03-23 10:41] mnater commented on #97
Hi

It's not possible with the current API because Hyphenopoly preprocesses the exceptions provided in setup.

Theoretically it would be possible to change the excpetions directly in the Hyphenopoly-object:
[code]

But since this it not "official" API it might break in the future.

Before we think about implementing a new feature: why can you change the exceptions only at a later date? It would he

[2020-03-23 11:09] AndreasFerdinand commented on #97
I'm working on a project to support the ground school of my son. The target is to convert a text, so that each syllable of a word is displayed in an other color (this is already working). e.g.:

Hy•phen•ation ==>
[code]

But now I want to use a textarea as input field for the source text, an additional text input field for the exceptions and a button to start the conversion.

After the button is h

[2020-03-23 20:53] mnater commented on #97
So teachers can then make text more readable for the children, right?

Given the fact that you include the ability to correct false separations, you probably know that Hyphenopoly is not necessarily suitable for your use case (Hyphenopoly does not find all separation points: https://mnater.github.io/Hyphenopoly/Coping-with-hyphenation-errors.html).

Let's put that aside.

I see three possible appr

[2020-03-24 05:26] AndreasFerdinand commented on #97
I think option 2 is applicable for my scenario. It is not necessary that you change you implementation. Thank you
Andi

[2020-03-24 05:26] #97 closed, assigned to mnater

[2020-03-24 14:11] mnater commented on #96
https://github.com/mnater/Hyphenopoly/commit/d540786dc84aa214d9ce11da71315733c8242f42

[2020-03-27 20:13] jefferyto opened #98 "Requests for pattern files (*.wasm) fail when Access-Control-Allow-Origin CORS header is "*""
cdnjs recently merged Hyphenopoly (cdnjs/cdnjs#13323) and made it available (cdnjs/cdnjs#13759) so I thought I would try it out.

When I used the browser example from the readme with `"FORCEHYPHENOPOLY"`, this is the error message I see (one for each pattern file) in the Firefox console:

[code]

I've tried this using Chrome and with CDN links from UNPKG and jsDelivr and I get the same results.

T

[2020-03-27 22:01] mnater commented on #98
Hi

Absolutely! Thanks for reporting - I wouldn't have found this.

[2020-03-27 22:28] mnater commented on #85
This is now configurable: https://github.com/mnater/Hyphenopoly/commit/1c68431ff0a61ddae0de20a2c14363fcd914b1ed

[2020-03-27 23:09] mnater commented on #98
fixed in https://github.com/mnater/Hyphenopoly/commit/a1a44574b242e35147697284c09a9fb5d07c181a

[2020-03-27 23:09] #98 closed, assigned to mnater

[2020-03-27 23:09] mnater commented on #96
fixed in https://github.com/mnater/Hyphenopoly/commit/a1a44574b242e35147697284c09a9fb5d07c181a

[2020-03-27 23:09] #96 closed, assigned to mnater

[2020-03-28 18:17] julian-zatloukal opened #100 "I figured out a way to load Hyphenopoly for browsers into Webpack 4."
Hello, I read the #70 and the section in the documentation regarding Webpack but I just couldn’t make it work for browsers. After a bit of testing, I finally got it to work. It’s a bit hacky but it does the work.

I created a [repository ](https://github.com/julian-zatloukal/hyphenopoly-webpack-implementation) containing all the files and code to make it load correctly, I've also designed a [simpl

[2020-03-29 20:16] mnater commented on #100
Hi

That's awesome!
#70 and the current doc is about using the node-module within Webpack. You managed to get the combination of Hyphenopoly_Loader.js and Hyphenopoly.js to work with Webpack!

I'd really like to add your findings to the documentation. How should we proceed?
Should I link to your repo? Do you prefer to include this completely in Hyphenopoly's doc? Are you willing to make a Pull req

[2020-03-29 21:38] julian-zatloukal commented on #100
Great! I’ll create a new pull request adding this way of implementing Hyphenopoly in the Special use cases section of the documentation.

May I also add the files regarding this special use case into _/examples/webpack_ ?

Thanks.

[2020-03-29 21:53] mnater commented on #100
Thank you! And yes.

BTW: I'm tinkering with your setup. Two things I think could be improved:

Hyphenopoly_Loader.js is packed in `vendor.[hash].bundle.js` and inserted at the end of the `body`. So the feature tests in Hyphenopoly_Loader are made after the body has loaded. This could cause flickering if the page becomes more demanding. I'd prefer to load Hyphenopoly_Loader.js before all other ass

[2020-03-29 22:58] julian-zatloukal commented on #100
~Flickering fixed! check out my latest commits. I did also change the long words in _require._
I updated the [live version](https://julian-zatloukal.github.io/hyphenopoly-webpack-implementation/) too.~ The hyphens are not being shown now, I will figure out why.

[2020-03-30 00:10] julian-zatloukal commented on #100
Now it's working! I've used the `html-webpack-injector` plugin. [Live version.](https://julian-zatloukal.github.io/hyphenopoly-webpack-implementation/)

[2020-03-30 14:14] julian-zatloukal commented on #100
Pull request added, #101.

[2020-03-30 20:55] IanTrudel opened #104 "Link to example1 not found (404)"
The page related to example1 provided in [README.md](https://github.com/mnater/Hyphenopoly/blob/master/README.md), https://mnater.github.io/Hyphenopoly/example1.html, does not exist.

![image](https://user-images.githubusercontent.com/8844578/77961023-386d1800-72a7-11ea-9f2a-fa424468553b.png)

[2020-03-31 21:49] #100 closed, assigned to nobody

[2020-03-31 22:10] #104 closed, assigned to nobody

[2020-03-31 22:15] mnater commented on #104
Thank you

[2020-04-03 20:42] mnater opened #106 "Use GitHub Flow"
I'm having my issues with the current branching model.
I'll try GitHub Flow

(This is kind of a bogus issue to check auto closing of issues.)

[2020-04-03 21:25] #106 closed, assigned to nobody

[2020-04-06 20:57] mnater opened #108 "Hyphenators should not hyphenate subtag with different lang"
Currently, if a HTMLElement is hyphenated with a `hyphenator` and if the HTMLElement contains a sub tag with a `lang`-tag that does not match the lang of the `hyphenator`, Hyphenopoly tries to hyphenate that sub tag. This may error if the language-object for tffhe sub tag's `lang` isn't
ready, yet.

Ideas and thoughts:
- The current implementation of `hyphenators` is language-specific. When hyphen

[2020-04-06 21:59] mnater opened #109 "Better word matching regex"
In the current implementation "words" are found by a regular expression that matches a number of characters of the alphabet defined in `<lang>.wasm`.

E.g. the RegEx for `en-us` is:

[code]

This is fast and simple.

But there's a problem: This RegExp also matches `communiqu` of the word `communiqué`, which can lead to mis-hyphenation.

There are ways to deal with that problem:

__word boundary `\

[2020-04-09 12:30] mnater commented on #108
One step further:
Don't overload hyphenators anymore. Language-specific hyphenators for strings, one polyglot hyphenator for HTMLElements.
This changes the API (major release).

[2020-04-09 12:33] mnater commented on #109
With https://github.com/mnater/Hyphenopoly/commit/4f4901bf38288ccb98533678364d024329e6d4c0 the process of finding words has two steps. First find all words (regardless of alphabet), then check if word contains a character that is not in the alphabet.

This breaks existing behaviour as some words will not be hyphenated anymore.
-> Implement an API for character substitution.

[2020-04-14 09:57] mnater opened #112 "Hyphenopoly only emits the first error"
If there are multiple errors (e.g. multiple required languages that are not used on the webpage) only the first error is printed to the console.

(The same issue would probably occur with other events).

[2020-04-15 08:49] mnater commented on #112
The problem is, that promises can only fullfill once and are then settled (What I didn't realize when I implemented it. I'm always learning new things :-)

So I'll need to move back to the preceding event implementation...

[2020-04-16 20:24] #109 closed, assigned to mnater

[2020-04-16 20:32] #108 closed, assigned to mnater

[2020-04-16 20:38] #112 closed, assigned to mnater

[2020-05-04 11:43] jotaf98 opened #116 "Differences between browser hyphenation and Hyphenopoly"
Testing the example linked in the readme in a local HTML file, with the paths set to a CDN as suggested in #84, and forcing the use of Hyphenopoly:

[code]

Comparing the two on Firefox 75 (force use of Hyphenopoly and use the browser's hyphenation) seems to give exactly the same result (visually). Same result even when resizing the window and refreshing (to see hyphenation at different text width

[2020-05-04 13:53] mnater commented on #116
AFAIK Firefox uses hunspell for hyphenation and hunspell uses the TeX-algorithm.
Chrome relies on the hyphenation engine provided by the OS (that's why Chrome supports hyphenation on Mac, but not on Windows).

[2020-05-04 21:23] jotaf98 commented on #116
Thanks for the answer, I guess that explains why they yield the same results (which is a good thing!).

[2020-05-04 21:23] #116 closed, assigned to nobody

[2020-05-05 21:31] mnater opened #117 "safeCopy has no effect on elements hyphenated with hyphenators.HTML"

[2020-05-11 20:26] #117 closed, assigned to mnater

[2020-05-13 14:19] beto-aveiga opened #121 "Content security policy"
Hi guys!

I'm trying to set up _Hyphenopoly_ on a site with a CSP like the one right below (I believe script-src is the only one that matters in this context):
![image](https://user-images.githubusercontent.com/3916979/81823007-6fb32380-94f9-11ea-9a37-89a997c76b8c.png)

As you can see, I've been progressively tried every policy available to make this work, and probably there are values there that

[2020-05-13 22:13] mnater commented on #121
Hi

Thanks for that question.
I am not very familiar with CSP. So I don't know if everything that follows is true.

As far as I know, the directives 'wasm-eval' and 'wasm-unsafe-eval' are not (yet) standardized [1]. Chrome implements them only for web apps [2]. For web pages, the directive 'unsafe-eval' must be used.

Because there is a [Report Only] in front of the message, I assume that you use

[2020-05-13 22:19] mnater opened #122 "Catch disallowed instantiation when CSP is active"
From https://github.com/mnater/Hyphenopoly/issues/121:

If the website has a CSP that doesn't allow WebAssembly (because `unsafe-eval` isn't allowed) we get an error:

Chrome: Uncaught (in promise) CompileError: WebAssembly.instantiateStreaming(): Wasm code generation disallowed by embedder

Safari: Unhandled Promise Rejection: EvalError: Refused to create a WebAssembly object because 'unsafe-eval

[2020-05-14 00:42] csvlad opened #123 "Cross-Origin Read Blocking (CORB) blocked cross-origin response"
Hello guys,

I've copied the html example code from Hyphenopoly documentation and tested it on localhost on Windows 10.
The Hyphenopoly haven't worked and I got the following CORB warning in my console:

`Cross-Origin Read Blocking (CORB) blocked cross-origin response https://github.com/mnater/Hyphenopoly/blob/master/Hyphenopoly_Loader.js with MIME type text/html. See https://www.chromestatus.com/

[2020-05-14 12:04] mnater commented on #123
Hi

It looks like you tried to get Hyphenopoly_Loader.js from GitHub. This link serves the file with the wrong MIME (`text/html`) instead of (`application/javascript`). I think this causes the CORB error.
Please serve the files from your server or use `https://mnater.github.io/Hyphenopoly/min/Hyphenopoly_Loader.js`.

Kind regards,
Mathias

[2020-05-14 12:18] mnater commented on #93
There has been no activity for two months. I'm closing this issue for now. Feel free to reopen.

[2020-05-14 12:18] #93 closed, assigned to mnater

[2020-05-14 12:20] mnater commented on #94
There has been no activity for two months. I'm closing this issue for now. Feel free to reopen.

[2020-05-14 12:20] #94 closed, assigned to mnater

[2020-05-14 19:35] csvlad commented on #123
Hi again! Thank you for your quick response

I've used your link but have another error:
![image](https://user-images.githubusercontent.com/52933579/81963347-a2eed300-961d-11ea-8446-9f65432eb5b3.png)

These are the scripts and styles I have in head:
[code]
How can I solve it? Thanks for your help

[2020-05-14 20:47] mnater commented on #123
Well, the error messages are very clear.

Either serve everything from localhost or [set CORScredentials to omit](https://mnater.github.io/Hyphenopoly/Setup.html#corscredentials).

[2020-05-15 12:29] csvlad commented on #123
Many thanks!

[2020-05-15 12:29] #123 closed, assigned to mnater

[2020-05-16 01:22] sapyx opened #125 "not blocking error "TypeError: Cannot read property 'list' of undefined""
Browser: Google Chrome  81.0.4044.138
[code]

but the hypenation is correct.

[code]

[2020-05-16 07:39] mnater commented on #125
Looks like an issue with selectors. Please post your HTML, too.

[2020-05-16 09:26] sapyx commented on #125
This is an excerpt from HTML, which is very long.
I don't know if I had said it before but in the end the result is perfect. Only this error message appears in the console.
By performing a debug, the error occurs first and, afterwards, the procedure is repeated and completed correctly.

[code]

[2020-05-16 09:31] sapyx commented on #125
i forgot to say that i am using paged.js and an old version of Hyphenopoly (provided in an example of paged.js) works perfectly.

[2020-05-16 12:06] sapyx commented on #125
After further investigation, I can confirm that the error does not always happen, but in a random way (by continuing to reload the page), and it is never blocking.
![Screenshot 2020-05-16 14 05 30](https://user-images.githubusercontent.com/8948108/82119391-6edef380-977e-11ea-9664-c14d3be458de.png)

[2020-05-18 13:13] mnater commented on #125
I think I found the problem.
If the .wasm-engine is loaded before the DOM is ready, Hyphenopoly tries to hyphenate the elements of the specified language, but these elements aren't loaded, yet.
So it produces that error message.
Later, when the DOM is ready, Hyphenopoly collects the elements and hyphenates them.

paged.js delays DOM-readyness. I haven't covered this case in my tests, yet 🤦‍♂️

[2020-05-18 14:35] #122 closed, assigned to mnater

[2020-05-18 14:40] #125 closed, assigned to mnater

[2020-05-22 13:33] ReLater opened #128 "tools/minify.sh fails during "prepare" on WSL Debian + Github Desktop for Windows"
I'm using Windows Subsystem for Linux (WSL)/Debian on Windows 10.
The repositories are located on a WIN hard disc.

After cloning this repository with `Github Desktop` for Windows I started `npm i`. My goal was to get the minified JS files in directory `/min/`, too.

I get several errors:
[code]

The mentioned lines (3, 6) are empty lines.

The created min directory looks like this (see small dot)

[2020-05-26 12:31] bigbangbaznga opened #129 "addClass via custom js then run Hypenopoly script"
any way to set an option or configuration to run the functionallity of hypenopoly after I add some classes to elements

I want to hyphen those elements which I "select" in my own script to avoid changing markup multiple times

[2020-05-27 05:36] mnater commented on #129
https://mnater.github.io/Hyphenopoly/Hyphenators.html

[2020-06-14 01:07] csvlad opened #130 "Hyphenopoly does not work in shadow-root in chrome on windows"
Hi!

I'm working with markdown text on my page. When I add markdown, it's being in #shadow-root (open). The system works perfectly on Mac OS with all hyphenations.

But, when I test it in Chrome and Edge on Windows 10 it doesn't work. It looks like the Hyphenopoly doesn't work in the shadow root with any lang. lang attribute is added.
![image](https://user-images.githubusercontent.com/52933579/845

[2020-06-14 16:32] csvlad commented on #130
I've created a new HTML page that includes Shadow DOM. I've tested it on Mac OS and Windows 10.

 As you can see below, there 2 situations, when the system doesn't work on Windows (only English language works, when the text with other lang doesn't. (2nd screenshot))

Mac OS:

![photo_2020-06-14_19-25-17](https://user-images.githubusercontent.com/52933579/84598659-ff3f4f80-ae74-11ea-8d42-52b9b856c7

[2020-06-14 22:22] mnater commented on #130
Hi

Thanks for the report.
There are several issues here:

a) Hyphenopoly currently doesn't support hyphenation in ShadowDOM. Hyphenopoly uses `window.document.querySelectorAll` to find elements to hyphenate and `querySelectorAll` by design doesn't search in shadowDOM.
Supporting hyphenation of ShadowDOM-elements would be a nice feature, though.
While waiting for a fix you could use a [HTML-hyphen

[2020-06-15 13:13] mnater commented on #121
There has been no activity for a month. I'm closing this issue for now. Feel free to reopen.

[2020-06-15 13:13] #121 closed, assigned to mnater

[2020-06-24 18:57] urbgimtam commented on #70
I'm trying to use Hyphenopoly with NuxtJs and also got stuck on this problem.
As it uses SSR, the use case described for React doesn't also work for me.
Any chance this bug could be fixed in the future?

[2020-06-29 20:30] #130 closed, assigned to mnater

[2020-06-29 20:55] mnater commented on #129
There has been no activity for a month. I'm closing this issue for now. Feel free to reopen.

[2020-06-29 20:55] #129 closed, assigned to nobody

[2020-07-04 06:37] mnater commented on #128
Sorry for my late response on this.

If it doesn‘t break compatibility on other platforms this should be done.
I‘m going to make some tests these days.

[2020-07-05 16:11] ReLater opened #134 "Minified Hyphonpoly.js fails after "npm run prepare" on WSL Debian + Github Desktop for Windows"
Hyphonopoly 4.6.0.

I'm using Windows Subsystem for Linux (WSL)/Debian on Windows 10. Maybe that's the reason(???).
The repositories are located on a WIN hard disc.

After cloning this repository I started `npm i` and/or `npm run prepare`. My goal was to get the `terser` minified JS files in directory `/min/`, too.

Afterwards I tested the created files with my Joomla plugin on Vivaldi.

The uncom

[2020-07-05 22:49] mnater commented on #134
Hmm.

I cannot reproduce.
First I thought this could be an issue with Vivaldi. So I installed Vivaldi for Mac (3.1.1929.45: everything works fine). Then I installed Vivaldi on Windows 10 (3.1.1929.45: everything works fine).
So I thought maybe there's an issue when using WSL. So I set up WSL on Windows 10 with Ubuntu 20.04 LTS, cloned the repository, installed npm, ran `npm run prepare`, copied th

[2020-07-05 23:57] ReLater commented on #134
Thank you for quick response.

I will make further tests and inform you more detailed.

The code in my image 1 is correct in principle? With other words: The characters like `\Uxyz2` shall be "translated" to Unicode characters during minification? Or should the `\Uxyz2`s inside the RegExp stay intact?

Can you attach a minified Hyphenopoly.js?

No because I work old-fashioned there without npm, pa

[2020-07-06 06:05] mnater commented on #134
Image 1 looks correct. You can find a min version here: https://github.com/mnater/Hyphenopoly/tree/master/docs/min

[2020-07-10 17:37] ReLater commented on #134
Because the files in docs/min work fine for me I close here until I find the time to make further investigations with one of the next Hyphenopoly releases. Upgrading WSL and the coupled Debian seems to be a "too big risk" for my daily work at the moment ;-)

Thanks for your (wasted) time!

[2020-07-10 17:37] #134 closed, assigned to nobody

[2020-07-29 08:04] GiovanniSalmeri opened #135 "Little problem (and solution?) when Hyphenopoly_Loader.js is bundled"
I stumbled upon a little problem when trying to package Hyphenopoly as an extension for [Yellow](https://github.com/datenstrom/yellow/). In this CMS, JS files are normally automatically minified and bundled. All works very well, except for line 73 in Hyphenopoly_Loader.js:

[code]

Obviously it doesn't work because scriptName is hardcoded, while currentScript.src is dynamically obtained (and in th

[2020-07-29 08:25] mnater commented on #135
Absolutely!
Thanks for finding this!

[2020-07-29 16:44] digitaldonkey opened #136 "Get param at Hyphenopoly_Loader.js breaks script"
Drupal CMS loads Javascript files often with a additional GET param (also common for cache breaking). Seems like the script does not work, in this case as it derivates the Path from the Full file name.

Can you make it arbitrary? Like ignoring *Hyphenopoly_Loader.js?\**` when determining the path.

[2020-07-29 19:28] mnater commented on #136
Thank you for that issue.
This will be fixed by fixing #135

[2020-07-31 09:44] GiovanniSalmeri commented on #135
Thank you very much, with the latest commit all works perfectly!

[2020-07-31 09:45] #135 closed, assigned to mnater

[2020-08-05 17:57] #136 closed, assigned to nobody

[2020-08-05 18:20] csvlad opened #139 "Transfer of n-letter words"
Usually it makes no sense to have just " I" or " a" in the end of the line. In our texts we want to be able to have such "one-letter" words to be "wrapped" to the next line.

Can you implement some option to customize Hyphenopoly so we can influence the number of letters contained by the word to be transferred/wrapped to the next line?
![unknown (4)](https://user-images.githubusercontent.com/52933

[2020-08-05 19:04] mnater commented on #139
Hi

This can be accomplished by adding a "no-break space" (nbsp - Unicode 00A0) after the single letter word - either manually or by a simple script:

[code]

I am not sure yet if this should be implemented in Hyphenopoly.js.
The main purpose of Hyphenopoly.js is to find additional hyphenation points - not to prevent them. On the other hand, the prevention of orphans is also implemented...

[2020-08-08 21:42] mnater commented on #139
Allthough there's a PR solving this issue, I'm still not sure if Hyphenopoly is the right place for this.

To have this functionality Hyphenopoly.js must be loaded. This is only the case if the browser does not support native hyphenation or if Hyphenopoly.js is forced by "FORCEHYPHYPHENOPOLY". In all other cases this functionality would have to be added by an additional script.

[2020-08-08 21:59] mnater opened #141 "CSS containment"
See if [CSS containment](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Containment) could improve performance when feature testing the browser and when adding hyphens.

[2020-08-11 19:56] mnater commented on #141
Can't see any difference.

[2020-08-11 19:56] #141 closed, assigned to nobody

[2020-08-22 16:39] MarkoMiloshevic opened #142 "On resizing breaks and removes p tag"
I'm having a problem with hyphenopoly when resizing content, it remove the p tag and adds few more hyphens do you know maybe what's wrong?
The content of the hyphenopoly is like this:
[code]

It is placed in head of the website. Also what i've noticed it only does that on that particular element, everything else is fine.
<img width="536" alt="Screenshot 2020-08-22 at 18 36 56" src="https://user-im

[2020-08-24 20:21] mnater commented on #142
Hi

With this information it is difficult to understand the problem.

Hyphenopoly does not actually change the DOM structure of the document. That means it does not delete any tags. It only changes the text content of the elements by inserting soft hyphens.

The Hyphenopoly configuration seems to be correct (even if it is a bit strangely designed).

I'm not sure if this is really a problem of Hyph

[2020-08-26 12:40] MarkoMiloshevic commented on #142
Yeah it wasn't hyphenopoly problem. Found a script that is conflicting with those.
Thanks for assistance!

[2020-08-26 12:40] #142 closed, assigned to mnater

[2020-09-04 11:56] jablonski opened #143 "Hyphenopoly used in Node hyphenates values in HTML attributes"
The following example shows that Hyphenoploy used in Node.js hyphenates values in HTML-attributes (like href, breaking links in the emitted HTML). Maybe I'm doing something wrong or is it a bug?

[code]

[code]

[2020-09-04 12:29] mnater commented on #143
The node module expects normal text as input, not html.
I decided to not include the functionality to hyphenate html in node. I don‘t see a use case for this. (Convince me;-)

[2020-09-04 13:43] jablonski commented on #143
Thanks for the reply, I wasn't aware about this difference.

Our use case is a static site (generated via Gatsby) powered by a headless CMS. We want to build a site which renders blazing fast and which is as small as possible, so our approach was to use Hyphonopoly to hyphenate all texts in the build run. Unfortunately we have to process some HTML blocks (think of a Wyswiyg-Editor used in CMS) bes

[2020-09-04 14:49] mnater commented on #143
Hm, I see.
The danger with this approach is that we don‘t know how search engine crawlers will handle the soft hyphens. So I would statically serve the Hyphenopoly_Loader so that the page is fast for all UAs supporting CSS-Hyphenation and a bit slower for the others.
But that‘s up to you to decide.
I‘ll see what I can do in the next few days to include a HTML-Hyphenator in the node module.

[2020-09-04 15:14] mnater commented on #143
Just to make sure: The things you want to add hyphenation to are strings with html tags and not DOM-nodes. Correct?

[2020-09-04 15:17] jablonski commented on #143
Yes, just strings with HTML tags included.

[2020-09-05 04:11] jablonski commented on #143
With the knowledge that Hyphenopoly does only hyphenate plain text when used in Node, we can simply build a workaround with a HTML parser (like JSDOM) and feed just the text nodes to Hyphenopoly. So maybe adding some "warning" in the documentation would be enough, so other people won't run into the same trap.

But if it is no big deal to provide HTML hyphenation on server side, I would really appr

[2020-09-06 21:05] mnater commented on #143
Hi

Thanks for your last answer.
Actually the only way to separate HTML strings is to send them through a parser first. To introduce a dependency on a parser in Hyphenopoly goes too far in my opinion. It would go beyond the scope of the script and in your use case you probably already have a parser for checking the HTML code.

So I have to leave it at a note in the documentation.

May I use your s

[2020-09-07 07:13] jablonski commented on #143
Yes, of course. And thank you very much for your effort putting into Hyphenopoly.

[2020-09-09 22:10] #143 closed, assigned to mnater

[2020-09-14 11:59] ESEEG opened #144 "re-render functions?"
I've got three inputfields which I (onclick) cumulate into one div-container. This container uses hyphenopoly.
So far using Firefox everything is working fine but not in Chrome.
I assume it doesn't work because the targeted text doesn't exist (yet) when the page is loaded. Is there any callback/render function I can call if the div-container has been filled?

[2020-09-14 16:03] mnater commented on #144
https://mnater.github.io/Hyphenopoly/Hyphenators.html

is this what you are looking for?

BTW: it probably works in FF but not in Chrome because FF supports native CSS-hyphenation.

[2020-09-15 08:09] ESEEG commented on #144
`Hyphenopoly.hyphenators.HTML.then((hyn) => {
  hyn(document.getElementById("hyphenateme"));
});`
it is! Thank you!

[2020-09-15 08:09] #144 closed, assigned to nobody

[2020-10-09 20:38] mnater commented on #139
There has been no activity for two months. I'm closing this issue for now. Feel free to reopen.

[2020-10-09 20:38] #139 closed, assigned to mnater

[2020-10-09 20:53] mnater opened #145 "Intl.Segmenter"
There's a TC39 proposal (currently at stage 3) for an text segmentation API: https://github.com/tc39/proposal-intl-segmenter
This could replace the current implementation that uses RegEx to find words.
May be worth having a look at it, although browser support is still unsure...

[2020-10-13 20:58] mnater opened #147 "Combining accents"
Playing around with Int.Segmenter (#145) reveleaded an issue with combining accents.
E.g. the word "БЕЛАРУ́СКАЯ" in `test6.html` contains the letter "У" with a "COMBINING ACUTE ACCENT ◌́").

The current implementation for finding words first looks for consecutive characters of the unicode property escape `\p{Letter}` and then checks if this set contains a character that is not in the alphabet defi

[2020-10-13 21:01] #128 closed, assigned to mnater

[2020-10-22 03:36] ghost opened #148 "There is no way to hyphenate plain text strings inside browser"
It would be great to use the hyphenateText function for plain text strings inside browser.

[2020-10-22 06:32] ghost opened #149 "Webpack using hyphenopoly.module.js doesn't work"
This is the error I get when using hyphenopoly.module.js according to [docs](https://mnater.github.io/Hyphenopoly/Special-use-cases.html#webpack-hyphenopoly-module)

![image](https://user-images.githubusercontent.com/71846516/96833223-a448e500-1472-11eb-98a9-72d23c18cc1a.png)

The problem is that StringDecoder.write function does not accept Uint16Array objects in webpack.
Can you guys please check

[2020-10-22 06:34] ghost commented on #148
Actually never mind, I should have RTFM 🙇‍♂️

[2020-10-22 06:34] #148 closed, assigned to nobody

[2020-10-23 20:20] mnater commented on #149
Since hyphenopoly.module.js is not really intended to be used with Webpack, I haven't tested it for a long time. Now with the current version of Webpack it seems to be even more complicated, because webpack > 5 does not contain polyfills for node.js core modules anymore.

Anyway, I can't manage to integrate hyphenopoly.module.js with webpack anymore.

Are you sure you want to do that? You get a mu

[2020-10-24 02:14] ghost commented on #149
Here is my webpack config:
[code]

[2020-10-28 21:00] mnater commented on #149
What webpack version are we talking about?

[2020-11-02 17:30] kaio-avila commented on #149
My webpack version is 4.44.1

[2020-11-02 17:32] ghost commented on #149
My webpack version is 4.44.1

[2020-11-04 13:48] mnater commented on #149
https://github.com/webpack/webpack/issues/11783

This does not seem to be an error in Hyphenopoly.
Is it ok if I don't pursue this any further, but invest the time to find out how to get Hyphenopoly running with a current webpack?

[2020-11-04 13:51] ghost commented on #149
Yes, sure

[2020-11-04 14:20] mnater opened #150 "Update Webpack examples for Webpack 5"
The webpack example in doc is outdated and doesn‘t work with the current version of webpack.

[2020-11-04 14:21] mnater commented on #149
Thanks.

https://github.com/mnater/Hyphenopoly/issues/150

[2020-11-04 14:21] #149 closed, assigned to nobody

[2020-11-05 20:33] #150 closed, assigned to mnater

[2020-11-05 21:51] #147 closed, assigned to mnater

[2020-11-16 21:06] mnater opened #151 "This does not escape backslash characters in the input."
[lgtm.com](https://lgtm.com/projects/g/mnater/Hyphenopoly/?mode=list) marks the following line with a warning:

[code]

This was changed from `.replace(/-/g, "")` because some patterns contain the "-". Not escaping it will create an invalid regex.

[2020-11-16 21:34] #151 closed, assigned to mnater

[2020-11-23 20:11] mnater opened #153 "nodejs versions"
The package.json says there's support for node >= 10.

a) Is this correct?
b) There's currently no test that checks this. -> Find a way to check support for all the [LTS releases](https://nodejs.org/en/about/releases/).

[2020-11-28 12:19] mnater commented on #153
Fixed in e2118a37ed328597ec1b2f117db39420f18f99ef

[2020-11-28 12:19] #153 closed, assigned to mnater

[2020-11-30 23:58] dfoxfranke opened #157 "Contra documentation, exceptions are case-sensitive"
The Hyphenopoly documentation claims that hyphenation exceptions are not case-sensitive, but this appears to be untrue. I put this stanza into my Hyphenopoly config:

[code]
But that didn't prevent the capitalized form from getting hyphenated as "Quadran-topaque". If I explicitly include the capitalized form "Quadrant-opaque" in my exception list, then it works correctly.

[2020-12-01 11:08] mnater commented on #157
Hi

Thanks for reporting. Exceptions must be case-sensitive (for cases like strei-ken-de vs Streik-en-de in german).

Where are exceptions being documented as not case-sensitive?

Best regards,
Mathias

[2020-12-01 11:15] mnater commented on #157
Ah, just found it. Thank you!

[2020-12-01 16:01] #157 closed, assigned to mnater

[2020-12-30 22:27] mnater opened #160 "zxx"
[https://www.w3.org/TR/i18n-html-tech-lang/#langvalues](https://www.w3.org/TR/i18n-html-tech-lang/#langvalues) recommends to use the language tag `zxx` for non-linguistic content.

Hyphenopoly emits the following error on elements with attribute `lang="zxx"`:

Instead Hyphenopoly should not try to hyphenate such elements.

Also document the behaviour and link to this doc from Setup.md#donthyphenat

[2021-01-04 22:55] #160 closed, assigned to mnater

[2021-01-06 21:48] mnater opened #163 "Future of this project"
It looks like [Chrome for Windows/Linux will support CSS-hyphens:auto starting with version M88](https://www.chromestatus.com/feature/5672891947417600). Edge will follow.
That means the use case of Hyphenopoly as a polyfill for hyphenation will fade away pretty soon.

Of course, the question now is how to proceed with Hyphenopoly.

First ideas:
- Put more emphasis on the development of the node mo

[2021-01-24 14:54] mnater commented on #163
Update (2021-01-24)

Chrome m88 now supports hyphenation for [a wide range of languages](https://source.chromium.org/chromium/chromium/src/+/master:third_party/hyphenation-patterns/hyb/;l=1)

MS Edge v88 doesn't.

[2021-04-07 17:33] graphicore opened #164 "Please explain: are pattern format and license libre/MIT?"
From the project README (emphasize mine):

But I can't find more information about the nature of that. Especially the word "proprietary" is often used to describe "not libre", I know it can mean other things, like *"a **custom** binary format"*, but in this context it is important to know exactly how it is meant. Thus, the question is:

Are the pattern licenses different from the MIT license of th

[2021-04-09 19:23] mnater commented on #164
Thanks for asking. The text in the readme is a bit outdated.

The hyphenation patterns are supplied along with the hyphenation core functions in the language-specific web assembly file. The program code in the web assembly file comes from me and is licensed under the MIT license. The hyphenation patterns come from other authors and are under various (FOSS) licenses (mainly LPPL and MIT, some GPL)

[2021-04-09 22:28] graphicore commented on #164
Awesome, thanks for answering!

[2021-04-23 20:57] #164 closed, assigned to nobody

[2021-04-29 21:08] mnater commented on #145
Chrome and Safari implement it.
https://bugs.chromium.org/p/v8/issues/detail?id=6891#c42
https://webkit.org/blog/11648/new-webkit-features-in-safari-14-1/
FF not yet: https://bugzilla.mozilla.org/show_bug.cgi?id=1423593

[2021-04-29 21:11] mnater commented on #163
~~Although claimed otherwise by~~ [caniuse](https://caniuse.com/css-hyphens) (is updated), Edge 90 still does not support `hyphens:auto`.

[2021-05-09 19:58] mnater opened #165 "memory access out of bounds"
In some rare conditions a "memory access out of bounds" error occurs.
This happens only when a word isn't checked for unknown chars and then sent to wasm.hyphenate. In normal conditions this isn't an issue, because Hyphenopoly.js does this check.

[2021-05-10 19:45] #165 closed, assigned to nobody

[2021-06-06 20:16] mnater commented on #163
Still no sign of `hyphens:auto` support in Edge 91 on Windows...

[2021-06-06 20:33] mnater opened #167 "Succinct data structure"
By chance I stumbled across a very interesting technology: "succinct tries".

The basic functionality is pretty well explained at http://stevehanov.ca/blog/?id=120.
For Hyphenopoly, however, the data structure still needs to be extended by the possibility to store the separating values with each of the nodes.

All in all, such a data structure would offer some advantages:
- The Succinct Trie store

[2021-06-07 22:58] mnater commented on #167
https://github.com/mnater/Hyphenopoly/tree/i167

[2021-06-10 06:30] janschreier commented on #84
Hi there,
i had the requirement to have all data locally so refering to a CDN  was no option for me.  I solved it by using XMLHttpRequest insteead of fetch. In the loader you need this new function to `Hyphenopoly_Loader.js`:

[code]
and in `loadhyphenEngine` replace `w.fetch` with `request`.

If interesting, I can create a PR for this. Otherwise I hope it helps others.

[2021-06-26 16:42] antonis-tsolomitis opened #168 "hyphenation for Greek"
I am trying to use this project for hyphenation for Greek (since Firefox does not support css hyphenation for Greek yet) but it seems that it does not work. Eg.
[https://pythagoras.samos.aegean.gr/node_modules/hyphenopoly/examples/example.html](https://pythagoras.samos.aegean.gr/node_modules/hyphenopoly/examples/example.html)

The other 3 languages get hyphenated but not Greek. However the file is

[2021-06-26 22:21] mnater commented on #168
I get the follwoing error on the page you linked:
`Loading failed for the <script> with source “https://pythagoras.samos.aegean.gr/node_modules/hyphenopoly/examples/Hyphenopoly_Loader.js”.`

Please make sure the scripts can be loaded.
The other languages are hyphenated natively by CSS-hyphens.

[2021-06-27 20:58] antonis-tsolomitis commented on #168
You are right. I am sorry. My bad.

[2021-06-27 20:58] #168 closed, assigned to nobody

[2021-07-06 19:24] mnater commented on #167
Interim report (what I have found out so far):

It is possible to implement a succinct trie in Assemblyscript and it works.

Large pattern files get about 20% smaller, while small pattern files get slightly larger. This is probably due to the larger amount of code. If the .wasm files are compressed, however, the size difference is not worth mentioning.

In the current implementation, the wasm inst

[2021-07-14 18:38] lehni opened #169 "SIGBUS crash while hyphenating english after some Russian words"
I've created a simple test-case that reproduces the problem:

https://github.com/lehni/hyphenopoly-crash

When I run this simple program, I get an instant crash:

[code]

Output:

[code]

I've tested both with Node v14 and v16, same result.

[2021-07-14 19:40] mnater commented on #169
Hi

Thanks for reporting. I‘m currently on vacation. I‘ll check this out as soon as I‘m back.

[2021-07-20 23:00] mnater commented on #169
This was a tricky bug. But I think I solved the riddle.

My code failed at two stages:
1: When checking for characters that are not in the alphabet, the module used the global flag and thus was incrementing the `lastIndex`of the RegExp-object. When tow words with "unknown" characters are hyphenated and the second word is shorter than the first word, the RegExp searches beyond the end of the word a

[2021-07-20 23:03] #169 closed, assigned to mnater

[2021-08-02 13:41] dimovpetar opened #170 "Is late instantion of a language possible?"
Hello,

Is it possible to initialize a language only if it's needed? I need to support a lot of languages and I don't want to load all the .wasm files if they won't be used. Also the language can change at any time. Currently I'm using Hyphenators and I'm following the instructions:

1. Configuration
2. Load and run Hyphenopoly_Loader

Is it possible to skip the "require" part of the Configuration

[2021-08-03 11:08] mnater commented on #170
Hi

This is not implemented, yet. But I see the use case.
Would it be OK if Hyphenopoly automatically loads the .wasm file if you `request` a `hyphenator` with `settings` for a specific language that has not been loaded?
I think I could implement that in a few days.Looks interesting...

Kind regards,
Mathias

[2021-08-03 11:40] dimovpetar commented on #170
Hello @mnater ,

Thanks for the fast response! Yes, loading the .wasm file when the language is requested is exactly what I need. I would still need to use "leftmin", "rightmin", "minWordLength" and the other settings, and also to force the loading of the engine, like "FORCEHYPHENOPOLY" currently does.

Something like:
[code]

where in `langSettings` I can give the testing word (i.e. "FORCEHYPHENO

[2021-08-05 11:05] dimovpetar commented on #122
Hello @mnater ,

Do you have any suggestions how to use Hyphenopoly if WebAssembly is blocked? Right now we fallback to asm.js when `unsafe-eval` is not present. But the last version that supports asm.js is 3.4.0. Any chance to use it with the latest?

Best regards,
Petar

[2021-08-05 19:48] mnater commented on #122
No, I don't have a solution for that at the moment.

I removed the fallback to asm.js from Hyphenopoly on purpose and for various reasons:

- It halves the file size of Hyphenopoly_Loader.js.
- In version 3 I programmed the core in asm.js and then compiled to Webassembly with "Binaryen". This function has disappeared from "Binaryen", because asm.js was no longer developed. Since version 4 the core

[2021-08-19 21:00] lehni commented on #169
That's great to hear, thank you @mnater !

[2021-08-26 20:31] mnater opened #171 "tracking issue for next major version (5.0.0)"
- [x] merge i167 (succinct data structures)
- [x] document succinct data structure
- [x] drop support for node 10
- [x] rewrite Hyphenopoly.config see #170
- [x] document Hyphenopoly.config
- [x] clean up and document tools
- [x] document usage of .wasm-files w/o Hyphenopoly
- ~~[x] change API for hiding to numbers only~~[^1]
- [x] remove necessity to clone instances
- [x] ES Module
- [x] Deno
- [

[2021-08-26 20:34] mnater commented on #167
succinct data structure ready to merge.
Closing this in favor of #171

[2021-08-26 20:34] #167 closed, assigned to mnater

[2021-11-04 22:25] mnater commented on #170
This is now available in v5

[2021-11-04 22:25] #170 closed, assigned to mnater

[2021-11-17 09:38] nicolastaffin opened #174 "hyphenopoly vs client hyphenation"
Hi,
i wonder is there is a way to PREVENT the client default hyphenation and prioritize hyphenopoly.
i'm very unhappy with french mac os monterey chrome hyphenation, and wonder if you implemented something
to take over it.

something like, for instance:

.hyphenate {
    -hyphenopoly-hyphens: auto; /* would trigger only hyphenopoly */
}

VS

.hyphenate {
    hyphens: auto; /* would trigger the sys

[2021-11-17 20:30] mnater commented on #174
Hi

To always trigger hyphenopoly you can use the special keyword "FORCEHYPHENOPOLY" instead of a long word in the `require` field of your configs:

[code]
https://mnater.github.io/Hyphenopoly/Global-Hyphenopoly-Object.html#require-mandatory

Also make sure to disable CSS client hyphenation.

Is this what you are looking for?

Kind regards,
Mathias

[2021-11-17 20:32] mnater commented on #163
Still not in Edge 95...🤷‍♂️

[2021-11-17 21:58] nicolastaffin commented on #174
Thanks Mathias,

when you say :

Do you mean remove the hyphens: auto; CSS rule ?
I don't find another way to disable hyphenation in Chrome

[2021-11-22 10:39] rajeeshknambiar opened #175 "Hyphenopoly doesn't seem to work with Firefox 94"
Thank you for the excellent `Hyphenopoly` script;  it is made use of in open-access publishing of classic works in Malayalam language at https://books.sayahna.org/.

Since upgrading to Firefox 94, I have noticed that hyphenation does not seem to work. On debugging, the scripts seems to load; but does not hyphenate words. Chrom{e,ium} and Safari works fine; so does old versions of Firefox.

Could y

[2021-11-22 13:14] mnater commented on #175
Hi

Thank you for your kind words.

It's strange: I've just checked the website in FF 94.0.1 on Windows and everything looks good. I'll check on Mac OS this evening.
Your code looks correct, too.

Are there any error messages in the Web Developer Tools Console?

[2021-11-22 15:07] nicolastaffin commented on #174
Thanks.

[2021-11-22 15:19] #174 closed, assigned to mnater

[2021-11-22 16:00] julientaq opened #176 "Using Hyphenopoly with other lib (paged.js inside)"
Hi there!
First, thanks for the great lib

@nicolastaffin and I are trying to use hyphenopoly with paged.js (https://pagedjs.org).

But we’re kind of stuck.

Paged.js uses hooks to run arbitrary code.

When Pagedjs loads the content, it moves the `body.innerHTML` in a `template` element that has no language attribute;

Then i’d like to run whatever DOM transformation we need (in that case, some mo

[2021-11-22 20:27] mnater commented on #175
Just checked on Mac OS and it works fine:
![image](https://user-images.githubusercontent.com/280635/142931010-3fd65d7e-007c-42ef-ab2a-727321f21ace.png)

[2021-11-22 22:26] mnater commented on #176
Hi

Thank you for this question. I started developing Hyphenopoly (respectively its predecessor Hyphenator.js) because I wanted to replicate the layout of TeX documents in the Web and therefor needed hyphenation. But I never made it this far.
Now I'm happy to see how my lib may help to produce such beautiful documents.

I hope I can help with this issue...

**Analysis of the issue:**
The function

[2021-11-23 03:44] rajeeshknambiar commented on #175
Thank you for taking a look; and it is good to know that hyphenation works on Windows and macOS. I am on Linux, not sure if that has any impact. I have a few addons installed, notably `NoScript` but all domains on this site are fully trusted to execute javascript code. I tried disabling it to ensure that is not a factor; and does not seem to have made a difference.

There are no error messages, on

[2021-11-23 09:48] julientaq commented on #176
Oh! Thanks a lot!
This is a clear explanation! 

I’ve tried that code, and it seems to work.

One thing though, since Hyphenopoly doesn’t run on the content, it never really finishes and the HTML never get out of the `visibility: hidden !important;` stays up. I found the full setup config (i’m a litte less bit lost in the docs thanks to your help :D), so i remove the hiding.

I’ll let @nicolastaff

[2021-11-23 21:20] mnater commented on #176
I totally forgot about the hiding. Your approach is correct. Please excuse the circumstances.

I'll close this issue for now - but feel free to reopen anytime.
If there are any adjustments needed in Hyphenopoly, just let me know.

[2021-11-23 21:20] #176 closed, assigned to mnater

[2021-11-23 21:57] mnater commented on #175
I just checked with Firefox 94.0.2 on Ubuntu and it works for me.

The warning about forced layout is due to the feature test. Hyphenopoly_Loader checks if the browser has native support for hyphenation in the specified language(s) - Malayalam in your case - and needs to measure the text-height which triggers a layout.

Since AFAIK no browser currently supports native hyphenation of Malayalam you

[2021-11-23 22:17] julientaq commented on #176
No need to excuse yourself!

Thanks again for all the work you’ve done here. it’s amazing!

[2021-11-24 05:56] rajeeshknambiar commented on #175
Thanks very much for verifying this. Another Linux user independently verified that it works for them; so this is very likely an issue on my end. I am closing this but report.

Thanks also for the tip to force enable `Hyphenopoly`.

BTW, Chrom{e,ium} (since 88, I guess) natively supports Malayalam hyphenation; Firefox unfortunately hasn't incorporated it since 6 years the code was made available a

[2021-11-24 05:56] #175 closed, assigned to mnater

[2021-11-28 23:12] mnater commented on #171
https://github.com/mnater/Hyphenopoly/commit/b73b5164f94e05c4378a70b98333a1c9c1057b69

[2021-11-28 23:15] mnater commented on #163
~~and not in Edge 96~~
It's finally available in Edge 96 (just testet on Browser, caniuse seems aoutdated)

[2022-01-13 11:11] ReLater opened #177 "Wrong hyphen characters on MacOs with chromium browsers"
I just want to report this issue here because I have no possibilities to test it (I have no Mac or so).

- Hyphenopoly 4.12.0.
- Maybe you have possibilities to test this or other users read this and are willing to go deeper into this issue and have time to test it with their hyphenopoly implementations.
- For Joomla we have developed a free Plugin that inserts Hyphenopoly in Joomla pages. It work

[2022-01-13 16:09] mnater commented on #177
Hi

This looks like an issue with the font. Some webfonts don‘t support the complete charset. The soft hyphen witch Hyphenopoly inserts is often among those unsupported charcters.

I believe some browsers fall back to other fonts for unsupported chars.

Do you know the font used in the example? I‘d like to investigate this issue (I have a Mac).

[2022-01-13 16:27] ReLater commented on #177
On the page where the image above is from:

`font-family: Hind;`

No fallback font in CSS as far as I see.
Included via fonts.gstatic.com.

On the other page

`font-family: 'Roboto';`

No fallback font in CSS for the relevant areas as far as I see.
Included via fonts.gstatic.com.

[2022-01-13 17:20] mnater commented on #177
Those fonts support the soft hyphen.
Just googled this issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1267606

I can't do anything but wait for Feb 01 2022.

[2022-01-13 17:20] #177 closed, assigned to nobody

[2022-01-13 17:30] ReLater commented on #177
Thank you for investigations! I found a lot but not that issue.
Let's see.

[2022-01-20 13:42] borriglione commented on #163
@mnater

We still face the problem that hyphenation does not work on Chromium/Puppeteer in headless mode [1]. That's why we are using this package now and are very thankful that it's existing :)

[1] https://bugs.chromium.org/p/chromium/issues/detail?id=1261480

[2022-01-20 21:17] mnater commented on #163
Good to know.
And thanks for the cheer!

[2022-02-02 20:44] ReLater commented on #177
Nur zur Info. Ich habe gerade Nachricht erhalten:

[2022-03-15 12:28] axkibe commented on #143
Google has no issues indexing my page that has "\&shy;" hyphens preset.

Thanks @jablonski I applied a similar hack as well to get it working, being surprised it only does plain strings destroying links.

Really would support getting this functionality in the block. (Personally I don't quite see why one should offload this to runtime computation with javascript in the browser)

[2022-03-30 13:05] HeikkiYlipaavalniemi commented on #91
This would be really good to be able to control also for words which are starting a sentence with a capital letter.

Both Finnish and Swedish languages can have really long words and in a mobile layout they can easily go over the screen width if they are starting a sentence. Either it will just wrap to the next line without hyphenation or break the layout.

[2022-04-07 05:50] witoldwegner opened #183 "Example Code"
Good day,

aren't there two lines swapped in the example-code?

Shouldn't be
`<title>Example 1</title>
        <script>
        <script src="./Hyphenopoly_Loader.js"></script>
          Hyphenopoly.config({
        `

like this?'
`<title>Example 1</title>
        <script src="./Hyphenopoly_Loader.js"></script>
        <script>
          Hyphenopoly.config({
`

Cheers,
Witold

[2022-04-07 06:27] witoldwegner opened #184 "en-us missing, also when not used"
Hi,

I made a little test where I only included de.wasm and I also only put de.wasm in the patterns folder.
Nevertheless it seems to work, Chrome throws this error/warning:
[code]

My code:

[code]

Directory-Tree:
[code]

[2022-04-07 19:17] #183 closed, assigned to nobody

[2022-04-07 19:17] mnater commented on #183
Yes, absolutely.
Thank you!

[2022-04-07 19:36] mnater commented on #184
Hi

You tell Hyphenopoly to hyphenate the element `<div class="container">`, it then tries to identify the language of this element. But there's no language set, not on that element, nor on its parents. So Hyphenopoly resorts to the [defaultLanguage](https://mnater.github.io/Hyphenopoly/Setup.html#defaultlanguage).

You could either set the `defaultLanguage` to `"de"` or put the lang-tag in the `<

[2022-04-07 19:42] witoldwegner commented on #184
Thanks, this absolutely makes sense, I didn’t see this.
And thank you also for the quick support, very much appreciated!

[2022-04-07 19:42] #184 closed, assigned to mnater

[2022-04-15 15:33] sagarkt commented on #163
@borriglione glad to know that you are able to use it with Puppeteer. I am too trying to generate pdfs with Puppeteer in headless mode. I am running it on AWS Lambda. I am unable to configure it properly. Can you give a shot config how you achieved it? That will be a lot of helpful. Thanks in advance!

[2022-04-25 07:20] borriglione commented on #163
@sagarkt

It's very off-topic but:

[code]

[2022-06-30 01:30] mamitry opened #188 "get "Module not found: Error:""
Using this in a vue app:
[code]
i get this error:

Build finished at 03:24:37 by 0.000s
[vue-cli-service]  error  in ./node_modules/hyphenopoly/hyphenopoly.module.js
[vue-cli-service] Module not found: Error: Can't resolve 'path' in 'D:\myproject\node_modules\hyphenopoly'
[vue-cli-service] BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by
default.
[vue-cli-service]

[2022-07-06 20:15] mnater commented on #188
Hi

[It is not recommended](https://mnater.github.io/Hyphenopoly/Special-use-cases.html#browserify-hyphenopolymodulejs) to use the Node module in a browser context. Instead, the Hyphenoply loader should be included. This can ensure that the browser does not load the entire package unnecessarily if it already supports hyphenation natively.

Now, I don't know the exact use case, but I'll try to give

[2022-08-09 17:01] hathiphant opened #192 "Callback when hyphenation is finished"
Your project is really useful (for Chromium headless in my use-case, using CDP).
I have a question: is it possible in configuration to declare a custom JavaScript function which will be called when hyphenation will be done.

The reason is that randomly the generated PDF is blank (but with the good number of pages). I suspect the printing to PDF (via CDP) and the hyphenation are running concurrentl

[2022-08-09 20:36] mnater commented on #192
Yes, there is: https://mnater.github.io/Hyphenopoly/Events.html#hyphenopolyend-event

[2022-08-10 12:34] hathiphant commented on #192
By delaying the PDF generation to after the handling of the event, it worked perfectly. My problem of blank pages has now vanished.
Your link to your documentation was a very useful information.
Thank you very much.

[2022-08-10 12:34] #192 closed, assigned to nobody

[2022-09-06 21:09] mnater commented on #188
I close this issue, because there was no activity in the last 2 months. Feel free to reopen anytime.

[2022-09-06 21:09] #188 closed, assigned to mnater

[2022-09-10 13:35] ReLater commented on #163
As far as I see Opera 90.0.4480.84 (current) on Windows 10 doesn't suppot `hyphens` yet. It's always loading `de.wasm` file in my test scenario while it doesn't use `hyphens` rules in CSS when I deactivate my Hyphenopoly plugin.

[2022-10-04 09:01] StephanHoyer opened #195 "Allow loader overwrite"
Hi, first of all, great project. We really like it.

But we have a few problems integrating it. The dynamic loader gives us real troubles. We use the node-version also in the browser since we want better control over the hyphenation and pretty much only hyphenate strings and do the rendering with mithril.js.

Currently the the loader autodetects the environment. This is not really useful for us. A

[2022-10-04 09:02] StephanHoyer commented on #195
If you like this idea, I would create a PR for this

[2022-10-04 16:22] mnater commented on #195
Hi

This sounds very interesting.
The current loader feels a bit hacky and not very idiomatic (I‘m not a node pro).

I look forward to your pull request.
This would be a nice feature for version 5, that I‘m currently working on…

Kind regards,
Mathias

PS: feel free to communicate in german.

[2022-10-05 06:55] StephanHoyer commented on #195
Ok, ich schaue wann ich das schaffe. Vermutlich aber noch diese Woche.

[2022-10-10 08:54] StephanHoyer commented on #195
Noch keine Zeit gefunden. :/

[2022-10-10 14:07] mnater commented on #195
Es eilt ja auch nicht.
Als ich schrieb, dass das in die Version 5 reinpasst, meinte ich vor allem, dass wir damit eine grosse Freiheit haben, wenn wir das API ändern wollen...

[2022-10-12 13:52] valdirunars opened #196 "Stop using fs module"
I might be wrong here but at first glance it looks like all that fs is doing is load stuff into memory.

Maybe then just have everything in code (maybe generated .ts files from the original .data and .txt)

That way this module would also be available in ReactNative and other none node.js runtimes

[2022-10-12 19:28] mnater commented on #196
Yep, the loader-code is outdated. I think it dates back to 2018 when there was no `fetch()` or `import` or dynamic require() available in node.
Or I just didn't know how to code this correctly...

Anyhow - this needs some work (see https://github.com/mnater/Hyphenopoly/issues/195, too).

Until this is rolled out you may use a different loader: https://mnater.github.io/Hyphenopoly/Node-Module.html#

[2022-10-13 18:18] StephanHoyer commented on #195
@mnater done!

it's a `minor`-change

[2022-10-16 22:18] #195 closed, assigned to mnater

[2022-10-16 22:34] mnater commented on #196
https://github.com/mnater/Hyphenopoly/tree/loader

[2022-10-20 20:01] #196 closed, assigned to mnater

[2022-11-14 12:39] StephanHoyer commented on #196
great change!

Usage is now much simpler, also the crazy path-generation is gone.

Great work, @mnater!